* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
}



/* 让表格对齐 */
body .el-table th.gutter {
	display: table-cell !important;
}

.left {
	width: 280px;
}

.right {
	width: 910px;
}


.user_content {
	width: 910px;
	padding: 20px;
	background: #fff;
	margin: 0 0 30px 0;
}

/* 充值会员 */
.web_gonggao {
	padding: 20px;
}

.web_gonggao .gonggao_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #EEEEEE;
}

.web_gonggao .gonggao_top {
	padding-bottom: 10px;
}

.web_gonggao .gonggao_top a {
	text-decoration: none;
	padding: 8px 20px;
	font-size: 14px;
	margin-right: 10px;
	font-weight: 600;
	color: #999;
	border-top: 2px solid #fff;
}

.web_gonggao .gonggao_top .select_on {
	border-top: 2px solid #3f8edb;
	color: #3f8edb;
}

/* 数据列表 */
.shuju_table {
	padding: 20px;
}

/* 分页 */
.fenye {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* 选择日期 */
.selete_date {
	padding: 0 20px 20px 20px;
	border-bottom: 1px solid #EEEEEE;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.selete_date .el-range-separator {
	z-index: 1;
}
