<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安巨</title>
    <link rel="stylesheet" type="text/css" href="/static/buy/element-ui/lib/theme-chalk/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/buy/css/pageCss/helpCenter.css"/>
    <script src="/static/buy/js/vue-2.6.10.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/js/httpVueLoader.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/element-ui/lib/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<style>
    .el-pagination{
       margin-top: 20px;
        padding: 0;
        max-width: 340px;
        overflow: hidden;
    }
</style>
<body>
<div class="container">

    <!-- 头部 -->
    {include file="public/header" /}

    <!-- 中间内容部分 -->

    <!-- 中间内容部分 -->
    <div class="center_box">
        <!-- 左边部分 -->
        <div class="left_box">
            <el-tabs style="width: 300px;margin-top: 20px;" v-model="type" @tab-click="handleClick">
                <el-tab-pane label="公告" name="1"></el-tab-pane>
                <el-tab-pane label="常见问题" name="2"></el-tab-pane>
            </el-tabs>
            <div class="left_input">
                <el-input style="width: 300px;" placeholder="请输入内容" v-model="search">
                    <el-button slot="append" icon="el-icon-search" @click="getSearch"></el-button>
                </el-input>
            </div>
            <div v-if="state==1">
                <div class="left_table">
                    <div class="left_table_item" :class="[index>=1?'hide_border':'',curIndex===index?'selectOn':'']"
                         v-for="(item,index) in list" @click="ggClick(item,index)">
                        <p v-html="item.title"></p>
                        <p>
                            <i class="el-icon-time"></i>
                            <span v-html="item.create_time"></span>
                        </p>
                    </div>
                </div>
                <div class="center">
                    <el-pagination background :page-size="6" @current-change="handleCurrentChange1" :current-page="page1" :pager-count="5"
                                   layout="prev, pager, next" :total="total" size="small">
                    </el-pagination>
                </div>
            </div>
            <div v-if="state==2">
                <div class="left_table">
                    <div class="left_table_item" :class="[index>=1?'hide_border':'',curIndex2===index?'selectOn':'']"
                         v-for="(item,index) in list2" @click="wtClick(item,index)">
                        <p v-html="item.title"></p>
                        <p>
                            <i class="el-icon-time"></i>
                            <span v-html="item.create_time"></span>
                        </p>
                    </div>
                </div>
                <div class="center">
                    <el-pagination background :page-size="6" @current-change="handleCurrentChange2" :page-count="10" :current-page="page2" :pager-count="5"
                                   layout="prev, pager, next" :total="total2">
                    </el-pagination>
                </div>
            </div>
        </div>
        <!-- 右边盒子部分 -->
        <div class="right_box">
            <!-- 基本信息标题 -->
            <div class="msg_title">
                <p>帮助中心&nbsp;/&nbsp;<span class="msg_title_txt">文章详情</span></p>
            </div>
            <div class="user_content">
                <div class="right_content">
                    <h1 v-html="title"></h1>
                    <div v-html="content"></div>
                </div>
                <p class="right_p">
                    文章分类：
                    <span v-html="msg"></span>
                    &nbsp;&nbsp;&nbsp;
                <p class="right_p"><span v-html="newDate"></span></p>
                </p>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {

            /* 初始化一个Vue */
            var vm = new Vue({
                el: ".center_box",
                data: function () {
                    return {
                        type: '1',
                        state: 1,
                        inputValue: "",
                        /* 默认显示的栏目 */
                        msg: "",
                        /* 表单数据 */
                        list: [],
                        list2: [],
                        total: 0,
                        total2: 0,
                        page1: 1,
                        page2: 1,
                        search: '',
                        newDate: "",
                        /* 默认显示的内容 */
                        title: "",
                        content: "",
                        curIndex: 0,
                        curIndex2: 0,
                    }
                },
                methods: {
                    handleClick: function () {
                        console.log(this.type);
                        if (this.type == 1) {
                            this.state = 1;
                            this.msg = '公告';
                            this.search = '';
                            this.title = this.list.length > 0 ? this.list[0].title : '';
                            this.content = this.list.length > 0 ? this.list[0].content : '';
                            this.newDate = this.list.length > 0 ? this.list[0].create_time : '';
                        } else {
                            this.state = 2;
                            this.msg = '常见问题';
                            this.search = '';
                            this.title = this.list2.length > 0 ? this.list2[0].title : '';
                            this.content = this.list2.length > 0 ? this.list2[0].content : '';
                            this.newDate = this.list2.length > 0 ? this.list2[0].create_time : '';
                        }
                    },
                    ggClick: function (item, index) {
                        this.title = item.title;
                        this.content = item.content;
                        this.curIndex = index;
                        this.newDate = item.create_time;
                    },
                    wtClick: function (item, index) {
                        this.title = item.title;
                        this.content = item.content;
                        this.curIndex2 = index;
                        this.newDate = item.create_time;
                    },
                    handleCurrentChange1(val) {
                        var that = this;
                        this.page1 = val;
                        $.post("{:url('help/getggData')}", {search: this.search, page: this.page1}, function (res) {
                            if (res.code == 1) {
                                that.list = res.data.list;
                                that.total = res.data.total;
                                that.title = that.list.length > 0 ? that.list[0].title : '';
                                that.content = that.list.length > 0 ? that.list[0].content : '';
                                that.newDate = that.list.length > 0 ? that.list[0].create_time : '';
                            } else {
                                layer.msg('网络错误', {icon: 2});
                            }
                        })
                    },
                    handleCurrentChange2(val) {
                        var that = this;
                        this.page2 = val;
                        $.post("{:url('help/getwtData')}", {search: this.search, page: this.page2}, function (res) {
                            if (res.code == 1) {
                                that.list2 = res.data.list2;
                                that.total2 = res.data.total2;
                                that.title = that.list.length > 0 ? that.list[0].title : '';
                                that.content = that.list.length > 0 ? that.list[0].content : '';
                                that.newDate = that.list.length > 0 ? that.list[0].create_time : '';
                            } else {
                                layer.msg('网络错误', {icon: 2});
                            }
                        })
                    },
                    getSearch:function(){
                        var that = this;
                        if(this.type == 1){
                            this.page1 = 1;
                            $.post("{:url('help/getggData')}", {search: this.search, page: this.page1}, function (res) {
                                if (res.code == 1) {
                                    that.list = res.data.list;
                                    that.total = res.data.total;
                                } else {
                                    layer.msg('网络错误', {icon: 2});
                                }
                            })
                        }else{
                            this.page2 = 1;
                            $.post("{:url('help/getwtData')}", {search: this.search, page: this.page2}, function (res) {
                                if (res.code == 1) {
                                    that.list2 = res.data.list2;
                                    that.total2 = res.data.total2;
                                } else {
                                    layer.msg('网络错误', {icon: 2});
                                }
                            })
                        }
                    },
                    getData: function () {
                        var that = this;
                        $.post("{:url('help/index')}", {}, function (res) {
                            console.log(res);
                            if (res.code == 1) {
                                that.list = res.data.list;
                                that.total = res.data.total;
                                that.list2 = res.data.list2;
                                that.total2 = res.data.total2;
                                that.title = that.list.length > 0 ? that.list[0].title : '';
                                that.content = that.list.length > 0 ? that.list[0].content : '';
                                that.newDate = that.list.length > 0 ? that.list[0].create_time : '';
                            } else {
                                layer.msg('网络错误', {icon: 2});
                            }
                        })
                    },
                },
                /* 页面初始化的时候默认显示第一个内容的详情 */
                created: function () {
                    this.getData();
                    this.msg = '公告';
                }
            });

        });
    </script>
    <!-- 底部 -->
    {include file="public/footer" /}
