<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>任务大厅</title>
    <link rel="stylesheet" href="/static/mobile/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="/static/mobile/css/iconfont/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/static/mobile/css/public.css" type="text/css">
    <link rel="stylesheet" href="/static/mobile/css/page.css" type="text/css">
    <script src="/static/mobile/js/all.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/jquery-1.12.4.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/vue-2.6.10.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/vant.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/muse-ui.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/public.js" type="text/javascript" charset="UTF-8"></script>
    <script>
        $(function () {
            var vm = new Vue({
                el: ".tfkz-container",
                data: function () {
                    return {
                        // 表格数据
                        tableData: [
                            {volist name="have_task" id="vo"}
                            {
                                id:"{$vo.id}",
                                zhongDuan: "{if condition="$vo.terminal ==1"}电脑{elseif condition="$vo.terminal ==2"/}手机端{/if}",
                                taskType: "{$vo.task_type}",
                                shangJia: "{$vo.seller}",
                                benJin: "{$vo.principal}",
                                yongJin: "{$vo.commission}",
                                user_divided:"{$vo.user_divided}",
                                maiHao: "{$vo.user_buyno_wangwang}",
                                taskStep:"{$vo.task_step}",
                            },
                            {/volist}
                        ],
                        currentPage: 1
                    };
                },
                filters: {
                    filterPhone(val) {
                        return val.substr(0, 3) + "****" + val.substr(7);
                    }
                },
                // 调用混入
                mixins: [singlePersonMixin],
                methods: {
                        //去完成任务
                        gostep:function(index){
                            var that = this;
                            var id=that.tableData[index].id;
                            var taskStep=that.tableData[index].taskStep;
                            sessionStorage.setItem("active",taskStep);
                            location.href='/index.php/mobile/task/taskstep/id/'+id+'';
                        },
                    // 分页事件
                    pageChange: function (val) {
                        // 当前页码
                        // console.log(val);
                    },
                    // 点击放弃事件
                    cancelActive: function (index) {
                        var that=this;
                        this.$dialog.confirm({
                            title: "温馨提示",
                            message: "是否删除此条订单,删除任务单冻结的银锭将不会返还？"
                        }).then(function () {
                            var id=that.tableData[index].id;
                            $.ajax({
                                type: "POST",
                                url: "{:url('mobile/task/del_task')}",
                                async: true,
                                data: {
                                    'id': id,
                                },
                                success: function (data) {
                                    if (data.code == 1) {
                                        alertSuccess(data.msg);
                                        setTimeout(function () {
                                            return location.href = data.url;
                                        }, 3000);
                                    } else {
                                        return alertError(data.msg);
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert(XMLHttpRequest.status + "," + textStatus);
                                }
                            });
                        }).catch(function () {});
                    }
                },
                mounted: function () {
                    publicFunction();
                }
            });
        });
    </script>
</head>
<body>
<div class="tfkz-container">

    <!-- 页面头部 -->
    <div class="page-header">
        <div class="arrow-left" onclick="javascript:history.back(-1);">
            <van-icon class="arrow-left-item" name="arrow-left" />
        </div>
        <div class="page-title">任务大厅</div>
        <div class="menu-box" onclick="slideBarClick()">
            <van-icon class="menu-box-item" name="bars" />
        </div>
    </div>

    <!-- 下拉菜单 -->
    {include file="public/left" /}

    <!-- 滚动容器 -->
    <div class="scroll-wrapper" style="padding-bottom: 1.6rem">

        <!-- 公用tab标签 -->
        <div class="public-tab-title">
            <span class="active">做任务</span>
        </div>

        <!-- 做任务 -->
        <div class="make-task">

            <!-- 卡片 -->
            <div class="TaskManagement">
                <div class="Task-management" v-for="(item,index) in tableData" :key="index">
                    <div class="TaskTop">
                        <div class="managementHeng">
                            <p>终端：</p>
                            <p>{{item.zhongDuan}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>任务类型：</p>
                            <p>{{item.taskType}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>商家：</p>
                            <p>{{item.shangJia|filterPhone}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>垫付本金(元)：</p>
                            <p>{{item.benJin}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>佣金：</p>
                            <p style="color: blue">
                                {{item.yongJin}}<span>+{{item.user_divided}}</span>
                            </p>
                        </div>
                        <div class="managementHeng">
                            <p>接手买号：</p>
                            <p>{{item.maiHao}}</p>
                        </div>
                    </div>
                    <div class="TaskBottom">
                        <img src="/static/mobile/img/bolang.png" alt="" />
                        <div class="TaskBottomPosition">
                            <p>
                                操作：
                                <b class="task-bottom-a-box">
                                    <a href="javascript:" @click="gostep(index)">去完成</a>
                                    <a href="javascript:" @click="cancelActive(index)">放弃</a>
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Task-management" v-if="tableData.length===0">
                    <div class="TaskTop" style="text-align: center">暂无内容</div>
                    <div class="TaskBottom">
                        <img src="/static/mobile/img/bolang.png" alt="" />
                        <div class="TaskBottomPosition"></div>
                    </div>
                </div>
            </div>

            <!-- 分页 -->
            <div class="public-page">
                <span class="public-page-total">共 {{tableData.length}} 条</span>
                <van-pagination
                        class="public-page-item"
                        @change="pageChange"
                        v-model="currentPage"
                        :items-per-page="10"
                        :total-items="tableData.length"
                        :show-page-size="2"
                        force-ellipses></van-pagination>
            </div>
        </div>

    </div>

    {include file="public/footer" /}
