<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>任务步骤</title>
    <link rel="stylesheet" href="/static/mobile/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="/static/mobile/css/iconfont/iconfont.css" type="text/css">
    <link rel="stylesheet" href="/static/mobile/css/public.css" type="text/css">
    <link rel="stylesheet" href="/static/mobile/css/page.css" type="text/css">
    <script src="/static/mobile/js/all.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/jquery-1.12.4.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/vue-2.6.10.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/vant.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/muse-ui.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/public.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/area/area.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/static/mobile/js/html2canvas.min.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
<div class="tfkz-container">

    <!-- 页面头部 -->
    <div class="page-header">
        <div class="arrow-left" onclick="javascript:history.back(-1);">
            <van-icon class="arrow-left-item" name="arrow-left" />
        </div>
        <div class="page-title">任务大厅</div>
        <div class="menu-box" onclick="slideBarClick()">
            <van-icon class="menu-box-item" name="bars" />
        </div>
    </div>

    <!-- 下拉菜单 -->
    {include file="public/left" /}

    <!-- 滚动容器 -->
    <div class="scroll-wrapper" style="padding-bottom: 1.6rem">

        <!--倒计时-->
        <van-count-down style="z-index: 50" class="public-count-down" :time="curTime" format="mm:ss"></van-count-down>

        <!-- 公用tab标签 -->
        <div class="public-tab-title">
            <span class="active">任务步骤</span>
        </div>

        <!-- 做任务 -->
        <div class="make-task" style="padding-top: 0">

            <!-- 卡片 -->
            <div class="TaskManagement">
                <div
                  class="Task-management"
                  v-for="(item,index) in tableData"
                  :key="index">
                    <div class="TaskTop">
                        <div class="managementHeng">
                            <p>终端：</p>
                            <p>{{item.zhongDuan}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>接手买号：</p>
                            <p>{{item.maiHao}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>任务类型：</p>
                            <p>{{item.tasktype}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>任务截止时间：</p>
                            <p>{{item.taskTime}}</p>
                        </div>
                        <div class="managementHeng">
                            <p>垫付本金(元)：</p>
                            <p>{{item.principal}}</p>
                        </div>
                        <div class="managementHeng" style="white-space: nowrap">
                            <p>佣金：</p>
                            <p style="color: blue">
                                {{item.yongJin}}+<span>{{item.user_divided}}</span>
                            </p>
                        </div>
                        <div class="managementHeng">
                            <p>任务编号：</p>
                            <p>{{item.taskNum}}</p>
                        </div>
                    </div>
                    <div class="TaskBottom">
                        <img src="/static/mobile/img/bolang.png" alt="" />
                        <div class="TaskBottomPosition">
                            <p>
                                操作：
                                <b class="task-bottom-single-box">
                                    <a href="javascript:" @click="handleQuXiao(index)">取消</a>
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Task-management" v-if="tableData.length===0">
                    <div class="TaskTop" style="text-align: center">暂无内容</div>
                    <div class="TaskBottom">
                        <img src="/static/mobile/img/bolang.png" alt="" />
                        <div class="TaskBottomPosition"></div>
                    </div>
                </div>
            </div>

            <!-- 要求 -->
            <div class="shangjia-yaoqiu">
                <p v-if="tasktype ==5">
                    <span >此任务为通道任务 通道名称是：{{channelname}}</span>
                </p>
                <p v-if="is_video_praise ==1">
                    <span >此任务是视频任务，苹果手机请勿接单。</span>
                </p>
                <p >商家订单要求: <span style="display:inline">{{zhongDuanmessage}}</span></p>
                <p >商家订单要求: <span style="display:inline">{$sell_task.memo}</span></p>
                <p v-if="task_time_type ==2"> <span style="color:red;">今天浏览加购，明天16点前付款提交任务</span></p>
                <p v-if="task_time_type ==3">  <span style="color:red;">定时任务，先浏览加购，截止时间前2小时内付款</span></p>
            </div>
        </div>

        <!-- 分割线 -->
        <div class="fenge-line"></div>

        <!-- 任务步骤三步走 -->
        <div class="task-step-box">

            <!-- 任务步骤插件 -->
            <div class="demo-step-container" style="z-index: 30">
                <mu-stepper :active-step="active">
                    <mu-step>
                        <mu-step-label>第一步</mu-step-label>
                    </mu-step>
                    <mu-step>
                        <mu-step-label>第二步</mu-step-label>
                    </mu-step>
                    <mu-step>
                        <mu-step-label>第三步</mu-step-label>
                    </mu-step>
                </mu-stepper>
            </div>

            <!-- 第一步 -->
            <div class="task-step-one" v-show="isShow" >
                <div class="public-card" style="margin-top: 0.2rem">
                    <div class="public-card-title">
                        <div class="public-card-title-one" style="color: red">在淘宝中查找商品</div>
                    </div>
                    <div class="pulic-card-content">
                        <template v-if="tasktype ==3">
                            <p>1.
                                {if condition="$sell_task['terminal'] == 1"}
                                电脑
                                {else /}
                                手机
                                {/if}
                                ,您当前接受任务的淘宝买号为 <span style="color: red;">“{$user_task.user_buyno_wangwang}”</span>，请访问淘宝并
                                <span style="color: red;">刷新页面</span>后，确认登录的买号是否为 <span style="color: red;">“{$user_task.user_buyno_wangwang}”！</span>
                            </p>
                            <p> <span style="line-height: 100px;margin-right: 30px;float: left;">2.二维码图片：</span><img v-bind:src="qrcode" style="float: left;width: 100px;height: 100px;" alt=""></p>
                            <div style="clear: both;"></div>
                            <p>3.下单提示：<span style="color: red;">{$sell_task.memo}</span></p>
                            <p>4.处罚细则 <a href="javascript:" @click="previewImageList">查看图片</a></p>
                        </template>
                        <template v-else-if="tasktype ==2">
                            <p>1.{if condition="$sell_task['terminal'] == 1"}
                                电脑
                                {else /}
                                手机
                                {/if}，您当前接受任务的淘宝买号为 <span style="color: red;">“{$user_task.user_buyno_wangwang}”</span>，请访问淘宝并
                                <span style="color: red;">刷新页面</span>后，确认登录的买号是否为 <span style="color: red;">“{$user_task.user_buyno_wangwang}”！</span>
                            </p>
                            <p><span>2.打开淘宝，输入淘口令:</span><span style="color: red;">{{taoword}}</span></p>
                            <p>3.下单提示：<span style="color: red;">{$sell_task.memo}</span></p>
                            <p>4.处罚细则 <a href="javascript:" @click="previewImageList">查看图片</a></p>
                        </template>
                        <template v-else>
                            <p>1.{if condition="$sell_task['terminal'] == 1"}
                               电脑
                               {else /}
                               手机
                               {/if}，您当前接受任务的淘宝买号为 <span style="color: red;">“{$user_task.user_buyno_wangwang}”</span>，请访问淘宝并
                                <span style="color: red;">刷新页面</span>后，确认登录的买号是否为 <span style="color: red;">“{$user_task.user_buyno_wangwang}”！</span>
                            </p>
                            <p class="no-copy">
                                <span style="color:#000;">2.在淘宝网站顶部，手动输入搜索关键词：</span>
                                <span
                                  style="display: block"
                                  class="no-copy-keyword" ref="imageTofile" v-show="canvasShow">{{keyWord}}</span>
                                <img style="width: 100%" :src="imageCanvas" alt="">
                            </p>
                            <p>3.搜索关键词后再打开的页面中点击对应的提示排序搜索</p>
                            <p>筛选价格区间为:<span style="color: red;">{$main_product_message.min_price}-{$main_product_message.max_price}</span></p>
                            <p>筛选商品所在地为:<span style="color: red;">{$main_product_message.province}</span></p>
                            <p>筛选商品分类:
                                <span style="color: red;">{$main_product_message_filter1}</span>
                                <span style="color: red;">{$main_product_message_filter2}</span>
                                <span style="color: red;">{$main_product_message_filter3}</span>
                                <span style="color: red;">{$main_product_message_filter4}</span>
                            </p>
                            <p>折扣服务:
                                <span style="color: red;">{$discount}</span>
                            </p>
                            <p>4.下单提示：<span style="color: red;">{$sell_task.memo}</span></p>
                            <p>5.处罚细则 <a href="javascript:" @click="previewImageList">查看图片</a></p>
                        </template>
                    </div>

                </div>
                <!-- 第一步图片预览 -->
                <van-image-preview v-model="imgShowOne" :images="imgShowOneList"></van-image-preview>
            </div>

            <!-- 第二步 -->
            <div class="task-step-two" v-show="isShow2">
                <!-- 温馨提示 -->
                <div class="public-alert">
                    <div class="public-alert-title">
                        <van-icon class="public-alert-title-icon" name="info-o"></van-icon>
                        <span class="public-alert-title-tip">温馨提示</span>
                    </div>
                    <div class="pulic-alert-item">
                        <p style="color: red">1. 清除淘宝缓存。</p>
                        <p style="color: red">2. 必须按照商家给的关键词手动输入搜索宝贝，其他途径搜索都将受到相应处罚。</p>
                        <p style="color: red">3. 按照商家名称前三个字符搜索店铺直接访问的，接到商家投诉将会直接受到相应处罚。</p>
                        <p style="color: red">4. 浏览主任务商品4分钟以上，然后随机浏览店铺其他2个商品,各2分钟以上,总浏览时间不低于8分钟。</p>
                        <p style="color: red">5. 若找到商品，商品链接不对，商品价格不符，则找到的商品不正确，请重新找。</p>
                        <p style="color: red">6. 买手领取任务时，在未到最后一步(去支付)之前，不要着急将购物车的商品下单付款， 以免发生拍错、漏拍等情况，若商家投诉第一次扣除10个银锭或是冻结账号7天，第二次扣除10个银锭冻结账号15天，第三次扣除10个银锭冻结账号30天。</p>
                    </div>
                </div>
                <!-- 间隔符 -->
                <div class="task-step-two-margin"></div>
                <!-- 第一部分 -->
                <div class="public-card">
                    <div class="public-card-title">
                        <div class="public-card-title-one" style="color: red">第一步</div>
                    </div>
                    <div class="pulic-card-content">
                        <div class="task-step-two-detail-one">
                            <p>1. 在筛选出的商品中,根据以下提示找到商品</p>
                            <p>2. <span style="color: red">若任务商品有不同规格,请拍商家要求的规格；若商家未指明具体规格，请拍下与垫付金额相同或相近的商品规格。</span></p>

                            <!-- 卡片 -->
                            <div class="TaskManagement">
                                <div
                                  class="Task-management"
                                  v-for="(item,index) in tableData2"
                                  :key="index">
                                    <div class="TaskTop">
                                        <div class="managementHeng">
                                            <div class="Heng-left">
                                                <p>商品名称：</p>
                                                <p>{{item.productName.substr(0,3)+"..."}}</p>
                                            </div>
                                            <div class="Heng-right">
                                                <p>店铺名称：</p>
                                                <p>{{item.dianpuName.substr(0,3)+"..."}}</p>
                                            </div>
                                        </div>
                                        <div class="managementHeng">
                                            <div class="Heng-left">
                                                <p>商品类型：</p>
                                                <p>{{item.type}}</p>
                                            </div>

                                            <div class="Heng-right">
                                                <p>商品价格：</p>
                                                <p>{{item.buy_price}}</p>
                                            </div>
                                        </div>
                                        <div class="managementHeng" style="align-items: center;justify-content: flex-start">
                                            <p>商品图片：</p>
                                            <p
                                              @click="previewImageList2(index)"
                                              class="taskmanagement-img-box">
                                                <img :src="item.img" alt="">
                                            </p>
                                        </div>
                                        <div
                                          class="managementHeng">
                                                <p v-if="tasktype ==3" style="white-space: pre-line"></p>
                                                <p v-if="tasktype ==2" style="white-space: pre-line"></p>
<!--                                                <p v-if="tasktype==1"-->
<!--                                                  style="white-space: pre-line">-->
<!--                                                    {{item.key}}</p>-->
                                        </div>
                                        <img
                                          v-if="tasktype==1"
                                          style="width: 100%;margin-bottom: 0.3rem"
                                          :src="imageCanvas" alt="" />
                                        <div class="managementHeng">
                                            <div class="Heng-left">
                                                <p>购买件数：</p>
                                                <p>{{item.buy_num}}</p>
                                            </div>
                                            <div class="Heng-right">
                                                <p>规格型号：</p>
                                                <p>{{item.goods_spec}}</p>
                                            </div>
                                        </div>
                                        <div class="managementHeng" style="align-items: center;justify-content: flex-start">
                                            <div
                                              class="task-manage-input-title">商品地址核对：</div>
                                            <div class="task-manage-input">
                                                <input type="text" v-model="item.input">
                                                <b>
                                                    <van-icon
                                                      class="bb-btn"
                                                      @click="hedui(item.input,item.id)" name="search"></van-icon>
                                                </b>
                                            </div>
                                        </div>
                                        {if condition="$admin_limit_switch ==1 "}
                                        <div class="managementHeng" style="align-items: center;justify-content: flex-start">
                                            <div
                                              class="task-manage-input-title">商品数字核对：</div>
                                            <div class="task-manage-input">
                                                <input type="text" v-model="item.inputnum">
                                                <b>
                                                    <van-icon
                                                      class="bb-btn"
                                                      @click="heduinum(item.inputnum,item.id)" name="search"></van-icon>
                                                </b>
                                            </div>
                                        </div>
                                        {/if}
                                    </div>
                                    <div class="TaskBottom">
                                        <img src="/static/mobile/img/bolang.png" alt="" />
                                        <div class="TaskBottomPosition"></div>
                                    </div>
                                </div>
                                <div class="Task-management" v-if="tableData2.length===0">
                                    <div class="TaskTop" style="text-align: center">暂无内容</div>
                                    <div class="TaskBottom">
                                        <img src="/static/mobile/img/bolang.png" alt="" />
                                        <div class="TaskBottomPosition"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- 注意 -->
                            <div class="task-step-two-zhuyi">
                                {if condition="$admin_limit_switch  eq 1"}
                               注：商品地址核对是找到宝贝进店浏览后，长按商品名称-复制链接，粘贴到平台核对。商品数字统一逻辑是宝贝详情页最下方开始，按照从下往上，从左至右的逻辑依次取6位数字进行核对，连接数字核对正确即可继续做任务。
                                {else/}
                               注: 根据关键词找到任务图，请上传通过关键词找到宝贝截图, 图里必须看的到关键词和对应任务主图。垫付金额与实际金额浮动在10元内可正常下单，超过联系平台客服。
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第二部分 -->
                <div class="public-card">
                    <div class="public-card-title">
                        <div class="public-card-title-one" style="color: red">第二步</div>
                    </div>
                    <div class="pulic-card-content">
                        <div class="task-step-two-detail-two">
                            <p>1. 找到商品后,点击进入商品详情,向下滑动屏幕至至店铺信息位置,和以下信息核对</p>
                            <p>2. 店铺名称: <a href="javascript:">{$shop.shop_name|mb_substr=0,3,'utf-8'}...</a></p>
                            <p>3. 商品金额: <a href="javascript:">{$main_product_price}元</a></p>
                            <p>4. 商品型号：{$goods_spec}<span style="color:red;display: inline;">(请确认下单规格、颜色、价格是否与商家要求一致)</span></p>
                            <p>5. 件数：<a href="javascript:">{$main_product_num}</a></p>
                            <div class="guanjianci-jietu">
                                <span>6. 上传搜索关键词截图：</span>
                                <div class="upload-pic-box">
                                    <van-uploader
                                            v-model="localFile"
                                            multiple
                                            :max-count="1"></van-uploader>
                                    <div class="guanjianci-jietu-shilitu">
                                        <img @click="previewShilitu" src="/static/buy/img/steptwoex.png" alt="">
                                        <p>示例图</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 注意 -->
                            <div class="task-step-two-zhuyi">
                                注: 核对无误后请将该商品加入购物车,上传通过关键词找到的宝贝截图,图里需要看到关键词和宝贝图片，垫付金额与实际金额浮动在10元内可正常下单,超过联系平台客服。
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第三部分 -->
                <div class="public-card">
                    <div class="public-card-title">
                        <div class="public-card-title-one" style="color: red">第三步</div>
                    </div>
                    <div class="pulic-card-content">
                        <div class="task-step-two-detail-three">
                            <p>1. 进入店铺首页</p>
                            <p>2. 在店铺内随机点2-3个商品，每款浏览2分钟放入下面输入框</p>
                            <div class="task-step-two-detail-three-div">
                                <span>3. 地址1：</span>
                                <div class="public-input">
                                    <input type="text" placeholder="请输入内容" v-model="inputValue3">
                                </div>
                            </div>
                            <div class="task-step-two-detail-three-div">
                                <span>4. 地址2：</span>
                                <div class="public-input">
                                    <input type="text" placeholder="请输入内容" v-model="inputValue4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第四部分 -->
                <div class="public-card">
                    <div class="public-card-title">
                        <div class="public-card-title-one" style="color: red">第四步</div>
                    </div>
                    <div class="pulic-card-content">
                        <div class="task-step-two-detail-four">
                            <p>1. 在找到商品后，请使用旺旺联系卖家，在线客服至少问5个问题可参考商品特性、材料、商品质量效果商品参数详情、优惠价格、是否赠送小礼品等方面</p>
                            <p>2. 聊天时，不得提及刷单、信誉小白兔等关键字</p>
                            <p>3. 上传聊天截图，商家也会自己检查买手的聊天内容，如果被商家投诉没聊天或不足5句，聊天内容于产品无关，平台将扣除此任务佣金，累计三次冻结账户</p>
                            <div class="task-step-two-detail-four-upload">
                                <span>4. 上传与商家聊天截图:</span>
                                <div class="upload-pic-box">
                                    <van-uploader
                                            v-model="localFile2"
                                            multiple
                                            :max-count="1"></van-uploader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第二步示例图预览大图 -->
                <van-image-preview v-model="imgShilitu" :images="imgShilituList"></van-image-preview>

            </div>

            <!-- 第三步 -->
            <div class="task-step-three" v-show="isShow3">
                <!-- 第一部分 -->
                <div class="public-card">
                    <!--<div class="public-card-title">-->
                        <!--<div class="public-card-title-one" style="color: red">核对订单商品</div>-->
                    <!--</div>-->
                    <div class="pulic-card-content">
                        <!-- 第三步详情 -->
                        <div class="task-step-three-detail">
                            <!-- 表格 -->
<!--                            <div class="public-table">-->
<!--                                <table>-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>#</th>-->
<!--                                        <th>商家店铺名</th>-->
<!--                                        <th>商品名</th>-->
<!--                                        <th>单价</th>-->
<!--                                        <th>购买数量</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr v-for="(item,index) in tableData3" :key="index">-->
<!--                                        <td>{{item.id}}</td>-->
<!--                                        <td style="white-space: nowrap">{{item.dianpuName}}</td>-->
<!--                                        <td style="white-space: nowrap">{{item.productName}}</td>-->
<!--                                        <td>{{item.price}}</td>-->
<!--                                        <td>{{item.count}}</td>-->
<!--                                    </tr>-->
<!--                                    <tr v-if="tableData3.length===0" >-->
<!--                                        <td colspan="5">暂无内容</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->

                        </div>
                    </div>
                </div>
                <!-- 第二部分 -->
                <div class="public-card">
                    <div class="public-card-title">
                        <div class="public-card-title-one" style="color: red">填写订单并提交</div>
                    </div>
                    <div class="pulic-card-content">
                        <div class="task-step-three-detail">
                            <!-- 温馨提示 -->
                            <div class="public-alert">
                                <div class="public-alert-title">
                                    <van-icon class="public-alert-title-icon" name="info-o"></van-icon>
                                    <span class="public-alert-title-tip">温馨提示</span>
                                </div>
                                <div class="pulic-alert-item">
                                    <p style="color: #333333">1. 请使用<span style="color: red">{$user_task.user_buyno_wangwang}</span>下单和付款，付款完毕后请填写您的订单号。</p>
                                    <p style="color: #333333">2. 只能使用银行借记卡或支付宝付款，<span style="color: red">不得使用信用卡、花呗付款，也不得使用村淘、淘宝客和返利网站下单。</span>
                                    </p>
                                </div>
                            </div>
                            <!-- 示例图 -->
                            <div class="task-step-three-detail-shilitu">
                                <img  @click="previewShilitu2" src="http://47.111.176.53:8082/static/buy/img/orderdetail.png" alt="">
                                <p>示例图</p>
                            </div>
                            <p>1. 填写当前订单信息</p>
                            <p style="color: red">*如任务商品拍下后产生2个订单号，请将2个订单号同时填写到下方，两个订单号中间用减号'-'隔开。</p>
                            <!-- 订单号 -->
                            <div class="task-step-three-detail-dingdanhao">
                                <span class="task-step-three-detail-span">订单号：</span>
                                <div class="public-input">
                                    <input type="text" placeholder="请输入内容" v-model="inputValue7">
                                </div>
                            </div>
                            <p>2. 填写实际付款金额</p>
                            <div class="task-step-three-detail-dingdanhao">
                                <span>付款金额：</span>
                                <div class="task-step-three-detail-stepper">
                                    <van-stepper  v-model="inputNumber" :decimal-length="2" :min="{$user_principal_limit_min}"
                                                 :max="{$user_principal_limit}"></van-stepper>
                                </div>
                            </div>
                            <p style="color: red">*实际付款金额不得超过或者小于订单金额100元</p>
                            <div class="task-step-three-detail-upload">
                                <span>3. 订单详情截图上传:</span>
                                <div class="upload-pic-box">
                                    <van-uploader
                                            v-model="localFile3"
                                            multiple
                                            :max-count="1"></van-uploader>
                                </div>
                            </div>
                            <p>4. 收货人信息：<span style="color: red">{$user_task.address} {$user_task.addressname} {$user_task.addressphone}</span></p>
                            <div class="task-step-three-detail-radio">
                                <van-radio-group class="radio-box" v-model="threeRadio" @change="radioChange">
                                    <van-radio class="radio-box-item active"  label="1" name="1">确认下单时是以上收货人信息</van-radio>
                                    <van-radio class="radio-box-item"  label="2" name="2">不是以上内容，我要修改成实际下单人的收货信息</van-radio>
                                </van-radio-group>
                            </div>
                            <div class="task-step-three-detail-show" v-show="threeRadio==='2'">
                                <div class="task-step-three-detail-area">
                                    <div class="task-step-three-detail-area-item" @click="setAreaShow">
                                        <span>所在地区：</span>
                                        <span>{{area.province}} {{area.city}} {{area.region}}</span>
                                    </div>
                                    <div class="task-step-three-detail-area-select">
                                        <van-area
                                                v-show="areaShow"
                                                :columns-num="3"
                                                :area-list="areaList"
                                                @confirm="areaConfirm"
                                                @cancel="areaCancel"
                                                value="110101"></van-area>
                                    </div>
                                </div>
                                <div class="task-step-three-detail-dingdanhao">
                                    <span>详细地址：</span>
                                    <div class="public-input">
                                        <input type="text" placeholder="请输入内容" v-model="inputStreet">
                                    </div>
                                </div>
                                <div class="task-step-three-detail-dingdanhao">
                                    <span>收货人姓名：</span>
                                    <div class="public-input">
                                        <input type="text" placeholder="请输入内容" v-model="inputPerson">
                                    </div>
                                </div>
                                <div class="task-step-three-detail-dingdanhao">
                                    <span>手机号：</span>
                                    <div class="public-input">
                                        <input type="text" placeholder="请输入内容" v-model="inputMobile" maxlength="11">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <van-image-preview v-model="imgShilitu2" :images="imgShilituList2"></van-image-preview>

            <!-- 上一步 下一步 -->
            <div class="change-step">
                <van-button @click="prev" class="change-step-item" type="info">上一步</van-button>
                <van-button @click="next" class="change-step-item" type="info">下一步</van-button>
            </div>

        </div>

    </div>

    <!-- tabBar -->
    <div class="public-tabBar">
        <div class="public-tabBar-item">
            <div class="public-tabBar-item-detail">
                <a href="{:url('my/information')}">基本信息</a>
                <a href="{:url('my/withdrawal')}">账号提现</a>
                <a href="{:url('my/add_buyno')}">买号添加</a>
                <a href="{:url('my/vip_recharge')}">会员VIP</a>
            </div>
            <div class="public-tabBar-item-title add-color">
                <span class="iconfont">&#xe60d;</span>
                <span>账号信息</span>
            </div>
        </div>
        <div class="public-tabBar-item">
            <div class="public-tabBar-item-detail">
                <a href="{:url('task/index')}">任务领取</a>
                <a href="{:url('my/taskmanagement')}">任务管理</a>
            </div>
            <div class="public-tabBar-item-title">
                <span class="iconfont">&#xe77a;</span>
                <span>任务情况</span>
            </div>
        </div>
        <div class="public-tabBar-item">
            <div class="public-tabBar-item-detail">
                <a href="{:url('money/withdrawal')}">本金提现</a>
                <a href="{:url('money/withsilver')}">银锭充值</a>
                <a href="{:url('money/drawal_record')}">提现记录</a>
            </div>
            <div class="public-tabBar-item-title">
                <span class="iconfont">&#xe601;</span>
                <span>资金管理</span>
            </div>
        </div>
        <div class="public-tabBar-item">
            <div class="public-tabBar-item-detail">
                <a href="{:url('Recommend/index')}">邀请好友</a>
                <a href="{:url('Recommend/record')}">邀请记录</a>
            </div>
            <div class="public-tabBar-item-title">
                <span class="iconfont">&#xe888;</span>
                <span>好友邀请</span>
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {
        // 手机号正则表达式
        var phoneReg = /^1[3-9]\d{9}$/;
        //正则验证数字
        var numreg = /^[\w\?%&=\-_]+$/;
        var vm = new Vue({
            el: ".tfkz-container",
            data: function () {
                return {
                    /*任务类型*/
                    task_time_type:"{$user_task.task_type}",
                    /*买手任务ID*/
                    user_task_id:"",
                    // 表格数据
                    tableData: [],
                    tableData2: [],
                    // 订单商品表格数据
                    tableData3: [],
                    //任务类型
                    tasktype:"",
                    qrcode:"",
                    channelname:"",
                    taoword:"",
                    zhongDuanmessage:"",
                    // 默认步数
                    active: 1,
                    /* 图片临时路径 */
                    localFile: [],
                    localFile2: [],
                    localFile3: [],
                    /* 输入框value值 */
                    inputValue1: "",
                    inputValue2: "",
                    inputValue3: "",
                    inputValue4: "",
                    /* 第三步Input框的值 */
                    inputValue7: "",
                    inputNumber: '{$principal}',
                    inputValue9: "",
                    /* 第三步后面的input */
                    inputStreet:"",
                    inputPerson:"",
                    inputMobile:"",
                    threeRadio:"1",
                    /* 默认第一步显示 */
                    isShow: true,
                    isShow2: false,
                    isShow3: false,
                    // 第一步图片预览
                    imgShowOne: false,
                    imgShowOneList: [
                        "http://47.111.176.53:8082/static/buy/img/tonggao.png"
                    ],
                    // 第二步图片预览
                    imgShowTwo: false,
                    imgShowTwoList: [],
                    // 第二步示例图预览
                    imgShilitu: false,
                    imgShilituList: [
                        "/static/buy/img/steptwoex.png"
                    ],
                    // 第二步示例图预览
                    imgShilitu2: false,
                    imgShilituList2: [
                        "/static/buy/img/orderdetail.png"
                    ],
                    // 表单数据
                    formValue: {
                        fileList: [],
                        fileList2: [],
                        addressValue: "",
                        addressValue2: "",
                        dingdanValue: "",
                        stepValue: 500,
                        addressDetail: "",
                        shouhuoName: "",
                        phone: ""
                    },
                    // 省市区数值
                    area: {
                        province: "请选择省",
                        city: "请选择市",
                        region: "请选择区"
                    },
                    // radio
                    radio: "1",
                    defaultTime: {$end_time},
                    is_video_praise:"",
                    // canvas要生成的图片
                    imageCanvas:"",
                    canvasShow:true,
                    keyWord:"{$key_word}"
                };
            },
            // 调用混入
            mixins: [areaMixin, singlePersonMixin],
            computed: {
                curTime: function () {
                    var newTime = new Date().getTime();
                    var restTime =  Number(this.defaultTime) -Number(newTime);
                    if (restTime <= 0) {
                        return 0;
                    } else {
                        return restTime;
                    }
                }
            },
            methods: {
                getData:function(){
                    var that=this;
                    $.post("{:url('mobile/task/taskstep')}",{id:{$id}},function(res){
                        if(res.code==1){
                            that.user_task_id = res.data.user_task_id;
                            var list1 = {
                                maiHao: res.data.user_task.user_buyno_wangwang,
                                taskTime: "{$user_task.ending_time|date='m-d H:i:s',###}",
                                principal: "{$user_task.principal}",
                                yongJin: "{$user_task.commission}",
                                user_divided:"{$user_task.user_divided}",
                                taskNum: "{$user_task.task_number}",
                                tasktype:"{$type_array[$sell_task['task_type']]}",
                            }
                            if(res.data.sell_task.terminal==1){
                                list1.zhongDuan='电脑';
                                that.zhongDuanmessage="请使用电脑下单";
                                that.tasktype="{$sell_task['task_type']}";
                                that.qrcode="{$sell_task['qr_code']}";
                                that.channelname="{$sell_task['channel_name']}";
                                that.taoword="{$sell_task['tao_word']}";
                                that.is_video_praise="{$sell_task['is_video_praise']}";
                            }else{
                                list1.zhongDuan='手机端';
                                that.zhongDuanmessage="请使用手机下单";
                                that.tasktype="{$sell_task['task_type']}";
                                that.qrcode="{$sell_task['qr_code']}";
                                that.channelname="{$sell_task['channel_name']}";
                                that.taoword="{$sell_task['tao_word']}";
                                that.is_video_praise="{$sell_task['is_video_praise']}";
                            }
                            vm.tableData.push(list1);
                            console.log(that.zhongDuanmessage);
                            // console.log(res.data.goods_info);
                            for (var i=0;i < res.data.goods_info.length;i++) {
                                var list2 = {
                                    productName: res.data.goods_info[i].name,
                                    dianpuName: res.data.shop.shop_name,
                                    type: res.data.goods_info[i].leixing,
                                    specname:res.data.goods_info[i].spec_name,
                                    specifications:res.data.goods_info[i].spec_value,
                                    buy_num:res.data.goods_info[i].buy_num,
                                    buy_price:res.data.goods_info[i].buy_price,
                                    input:"",
                                    inputnum:"",
                                    id:res.data.goods_info[i].id,
                                    img:res.data.goods_info[i].pc_img[0],
                                    imgdata:res.data.goods_info[i].pc_img,
                                    key:res.data.goods_info[i].key,
                                    goods_spec:res.data.goods_info[i].goods_spec,
                                };
                                vm.tableData2.push(list2);
                                vm.imgShowTwoList.push(res.data.goods_info[i].pc_img);
                            }
                            for (var i=0;i<res.data.goods_info.length;i++) {
                                var list3 = {
                                    id:res.data.goods_info[i].id,
                                    dianpuName: res.data.goods_info[i].shop_name,
                                    productName: res.data.goods_info[i].name,
                                    price: res.data.goods_info[i].buy_price,
                                    count: res.data.goods_info[i].buy_num,
                                };
                                vm.tableData3.push(list3);
                            }
                            that.url = res.data.main_product.pc_img[0];
                            that.imgs = res.data.main_product.pc_img;
                            if(res.data.admin_limit_switch==1){
                                that.srcStep2 = ["/static/buy/img/steptwoex.png"];
                            }else{
                                that.srcStep2 = ["/static/buy/img/steptwoex.png","/static/buy/img/numberex.png"];

                            }
                        }
                    })

                },
                //核对
                hedui: function (input,id) {
                    var that=this;
                    if (!input) {
                        alertError("商品地址不能为空");
                    }
                    $.ajax({
                        type : 'POST',
                        url : "{:url('mobile/task/task_hedui')}",
                        async : true,
                        data : {
                            'input':input,
                            'id':id,
                        },
                        success : function(data){
                            if(data.code==1){
                                alertSuccess(data.msg);
                            }else{
                                return alertError(data.msg);
                            }
                        },
                        error : function(XMLHttpRequest, textStatus, errorThrown) {
                            alert(XMLHttpRequest.status + "," + textStatus);
                        }
                    });
                },
                heduinum: function (inputnum,id) {
                    var that=this;
                    if (!inputnum) {
                        alertError("数字核对不能为空");
                    }
                    $.ajax({
                        type : 'POST',
                        url : "{:url('mobile/task/task_heduinum')}",
                        async : true,
                        data : {
                            'inputnum':inputnum,
                            'id':id,
                        },
                        success : function(data){
                            if(data.code==1){
                                alertSuccess(data.msg);
                            }else{
                                return alertError(data.msg);
                            }
                        },
                        error : function(XMLHttpRequest, textStatus, errorThrown) {
                            alert(XMLHttpRequest.status + "," + textStatus);
                        }
                    });
                },
                // 动态修改radio样式
                radioChange: function (e) {
                    // console.log(e);
                    $(".radio-box .radio-box-item").toggleClass("active");
                },
                setAreaShow: function () {
                    this.areaShow = !this.areaShow;
                },
                // 地区确认按钮
                areaConfirm: function (val) {
                    this.area.province = val[0].name;
                    this.area.city = val[1].name;
                    this.area.region = val[2].name;
                    this.areaShow = false;
                },
                /* 点击取消的时候 */
                handleQuXiao: function (index) {
                    console.log(index);
                    var that = this;
                    location.href = '/index.php/mobile/task/maketask';
                },
                /* 步骤事件 */
                next: function () {
                    $("html,body").animate({ scrollTop: 0 }, 0);
                    $(".scroll-wrapper").scrollTop(0);
                    if (this.active === 1) {
                        this.isShow = false;
                        this.isShow2 = true;
                        this.isShow3 = false;
                        this.active=2;
                    } else if (this.active === 2) {
                        var that=this;
                        if(that.localFile.length<= 0) return alertError("搜索关键词截图不能为空");
                        if(!that.inputValue3) return alertError("商品地址不能为空");
                        if(!that.inputValue4) return alertError("商品地址不能为空");
                        if(that.localFile2.length<= 0) return alertError("聊天截图不能为空");
                        var arr=[];
                        for (var i = 0; i <that.tableData2.length ; i++) {
                            arr.push({
                                input:that.tableData2[i].input, id:that.tableData2[i].id
                            })
                        }
                        var arrnum=[];
                        for (var i = 0; i <that.tableData2.length ; i++) {
                            arrnum.push({
                                inputnum:that.tableData2[i].inputnum, id:that.tableData2[i].id
                            })
                        }
                        $.ajax({
                            type : 'POST',
                            url : "{:url('mobile/task/task_two')}",
                            async : true,
                            data : {
                                'user_task_id':that.user_task_id,
                                'keywordimg':that.localFile[0].content,
                                "inputall":arr,
                                "inputallnum":arrnum,
                                'dizhi1':that.inputValue3,
                                'dizhi2':that.inputValue4,
                                'chatimg':that.localFile2[0].content,
                            },
                            success : function(data){
                                if(data.code==1){
                                    alertSuccess(data.msg);
                                    that.isShow = false;
                                    that.isShow2 = false;
                                    that.isShow3 = true;
                                    that.active=3;
                                    that.stepTask="下一步"
                                }else{
                                    return alertError(data.msg);
                                }
                            },
                            error : function(XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status + "," + textStatus);
                            }
                        });
                    } else if (this.active === 3){
                        var that=this;
                        if(!that.inputValue7) return alertError("订单号不能为空");
                        if(!that.inputNumber) return alertError("付款金额不能为空");
                        if(that.localFile3.length<= 0) return alertError("订单详情截图不能为空");
                        if (!numreg.test(that.inputValue7)) {
                            return alertError("订单号格式不规范,请检查后重新输入");}
                        if(that.inputMobile){
                            if (!phoneReg.test(that.inputMobile)) {
                                return alertError("手机号码格式不规范,请检查后重新输入");}
                        }
                        $.ajax({
                            type : 'POST',
                            url : "{:url('mobile/task/task_three')}",
                            async : true,
                            data : {
                                'user_task_id':that.user_task_id,
                                'table_order_id':that.inputValue7,
                                'user_principal':that.inputNumber,
                                'consignee':that.inputValue9,
                                'order_detail_img':that.localFile3[0].content,
                                'threeradio':that.threeRadio,
                                'province':that.area.province,
                                'city':that.area.city,
                                'block':that.area.region,
                                'inputstreet':that.inputStreet,
                                'adressperson':that.inputPerson,
                                'addressphone':that.inputMobile,
                            },
                            success : function(data){
                                if(data.code==1){
                                    alertSuccess(data.msg);
                                    var active=sessionStorage.getItem("active");
                                    if(active){
                                        sessionStorage.setItem("active",1);
                                    }
                                    setTimeout(function(){
                                        return location.href=data.url;
                                    },3000)
                                }else{
                                    return alertError(data.msg);
                                }
                            },
                            error : function(XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status + "," + textStatus);
                            }
                        });
                    }
                },
                prev: function () {
                    $("html,body").animate({ scrollTop: 0 }, 0);
                    $(".scroll-wrapper").scrollTop(0);
                    this.active--;
                    if (this.active <= 1) {
                        this.active = 1;
                    }
                    if (this.active === 1) {
                        this.isShow = true;
                        this.isShow2 = false;
                        this.isShow3 = false;
                    } else if (this.active === 2) {
                        this.isShow = false;
                        this.isShow2 = true;
                        this.isShow3 = false;
                    } else {
                        this.isShow = false;
                        this.isShow2 = false;
                        this.isShow3 = true;
                    }
                },
                // 第一步预览大图
                previewImageList: function () {
                    this.imgShowOne = true;
                },
                // 第二步预览大图
                previewImageList2: function (index) {
                    this.imgShowTwo = true;
                    vant.ImagePreview({
                        images: vm.imgShowTwoList,
                        startPosition: index,
                    });
                },
                // 第二步示例图预览大图
                previewShilitu: function () {
                    this.imgShilitu = true;
                },
                // 第三步示例图预览大图
                previewShilitu2: function () {
                    this.imgShilitu2 = true;
                }
            },
            // 页面刷新之前将当前第几步缓存
            beforeUpdate: function () {
                sessionStorage.setItem("active", this.active);
            },
            mounted: function () {
                publicFunction();
                this.getData();

                var that=this;
                html2canvas(document.querySelector(".no-copy-keyword"), {
                    backgroundColor: null
                }).then(function (canvas) {
                    that.imageCanvas = canvas.toDataURL('image/png');
                    that.$nextTick(function () {
                        that.canvasShow = false;
                    });
                });

                // 当缓存存在的时候才会保存,缓存清空会恢复默认值
                if (sessionStorage.getItem("active")) {
                    this.active = sessionStorage.getItem("active");
                    this.active = Number(this.active);
                    if (this.active === 1) {
                        this.isShow = true;
                        this.isShow2 = false;
                        this.isShow3 = false;
                    } else if (this.active === 2) {
                        this.isShow = false;
                        this.isShow2 = true;
                        this.isShow3 = false;
                    } else {
                        this.isShow = false;
                        this.isShow2 = false;
                        this.isShow3 = true;
                    }
                }
            }
        });
    });
</script>

<script src="/static/mobile/js/draggin.js" type="text/javascript" charset="UTF-8"></script>

</body>
</html>
