<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安巨</title>
    <link rel="stylesheet" type="text/css" href="/static/buy/element-ui/lib/theme-chalk/index.css" />
    <!-- 页面内容CSS -->
    <link rel="stylesheet" type="text/css" href="/static/buy/css/pageCss/zhuipinTask.css"/>
    <link rel="Shortcut Icon" type="image/x-icon" href="/static/buy/img/index.png" />
    <script src="/static/buy/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/js/vue-2.6.10.min.js"></script>
    <script src="/static/buy/element-ui/lib/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            /* 初始化一个Vue */
            var vm = new Vue({
                el: ".center_box",
                data: function () {
                    return {
                        /* 默认弹框不开启 */
                        dialogVisible: false,
                        /* 图片路径 */
                        localFile: "",
                        inputValue:"",
                        inputNumber:"",
                        user_task_id:"{$list.id}",
                        ystime:"{$list.ys_time}",
                        /* 数据1 */
                        testData: [
                            {volist name="product" id="vo"  }
                            {
                                taskBianHao: "{$list.task_number}",
                                zhongDuan:"{$list.terminal}",
                                time: "{$list.create_time}",
                                type: "{$list.task_type}",
                                taskTime: "{$list.ending_time|date='m-d H:i:s',###}",
                                principal: "{$list.principal}",
                                taskNum: "{$list.task_number}",
                                title: "{$vo.name}",
                                content: "{$vo.text_praise}",
                                img:"{$vo.img_praise}",
                                video:"{$vo.video_praise}",
                                maiHao: "{$list.wwid}",
                                kuaiDi: "{$list.delivery}",
                                danHao: "{$list.delivery_num}",
                                price: "{$list.seller_principal}"
                            },
                            {/volist}
                        ],
                        /* 数据2 */
                        testData2: {
                            type: "{$list.task_type}",
                            video: "暂无视频",
                            txt: "暂无文字"
                        },
                        /*任务ID*/
                        task_id:"{$list.id}"
                    };
                },
                    methods: {
                        /* 失败的弹框 */
                        alertError: function(e) {
                            this.$message.error(e);
                        },
                        /* 给表格上色 */
                        cellStyle: function (e) {
                            if (e.columnIndex === 4) {
                                return "color:red;";
                            }
                        },
                        /* 成功的弹框 */
                        alertSuccess: function(e) {
                            this.$message({
                                message: e,
                                type: "success"
                            });
                        },
                        /* 点击提现 */
                        takeDelivery: function () {
                            var that = this;
                            if(!that.inputValue) return vm.alertError("请填写订单号！");
                            if(!that.inputNumber) return vm.alertError("请填写金额！");
                            if(!that.localFile) return vm.alertError("请上传尾款截图！");
                            $.ajax({
                                type : 'POST',
                                url : "{:url('buy/task/take_wk')}",
                                async : true,
                                data : {
                                    "high_praise_img":that.localFile,
                                    "task_id":that.task_id,
                                    "wk_order_detail":that.inputValue,
                                    "wk_input_detail":that.inputNumber
                                },
                                success : function(data){
                                    if(data.code==1){
                                        that.alertSuccess(data.msg);
                                        setTimeout(function(){
                                            return location.href=data.url;
                                        },3000)
                                    }else{
                                        return that.alertError(data.msg);
                                    }
                                },
                                error : function(XMLHttpRequest, textStatus, errorThrown) {
                                    alert(XMLHttpRequest.status + "," + textStatus);
                                }
                            });
                        },
                        inputchange:function(){
                            this.inputNumber = Number(this.inputNumber).toFixed(2);
                            var that=this;
                            $.ajax({
                                type : 'POST',
                                url : "{:url('buy/task/wknumberchange')}",
                                async : true,
                                data : {
                                    'number':that.inputNumber,
                                    'task_id':that.user_task_id
                                },
                                success : function(data){
                                    // console.log(data);
                                    if(data.code==1){
                                        return;
                                    }else{
                                        setTimeout(function () {
                                            that.inputNumber="";
                                        },3000);
                                        return that.alertError(data.msg);
                                    }
                                },
                                error : function(XMLHttpRequest, textStatus, errorThrown) {
                                    alert(XMLHttpRequest.status + "," + textStatus);
                                }
                            });
                        },
                        /* 获取图片的base64路径 */
                        handleChange: function (e) {
                            var that = this;
                            var reader = new FileReader();
                            reader.readAsDataURL(e.raw);
                            reader.onload = function () {
                                that.localFile = reader.result;
                            };
                        },/* 删除图片 */
                        handleRemove: function (file) {
                            this.localFile = "";
                        },
                        // 复制文字
                        copyText:function() {
                            var text = $(".copy-text").text();
                            var oInput = document.createElement('input');
                            oInput.value = text;
                            document.body.appendChild(oInput);
                            oInput.select(); // 选择对象
                            document.execCommand("Copy"); // 执行浏览器复制命令
                            oInput.className = 'oInput';
                            oInput.style.display='none';
                            this.alertSuccess("复制成功");
                        }
                    }
                });

        });
    </script>

</head>
<body>
<div class="container">

    <!-- 头部 -->
    {include file="public/header" /}

    <!-- 中间内容部分 -->
    <div class="center_box">
        <!-- 下拉列表 -->
        {include file="public/left" /}

        <!-- 右边盒子部分 -->
        <div class="right_box">
            <!-- 基本信息标题 -->
            <div class="msg_title">
                <p>个人中心&nbsp;/&nbsp;<span class="msg_title_txt">上传尾款截图</span></p>
            </div>
            <div class="user_content">

                <div class="shuju_table">
                    <!-- 数据列表 -->
                    <el-table
                            :data="testData"
                            border
                            :header-cell-style="{background:'#f5f7fa'}"
                            :cell-style="cellStyle"
                            style="width: 100%;">
                        <el-table-column prop="zhongDuan" label="终端" align="center">
                        </el-table-column>
                        <el-table-column prop="taskBianHao" label="接手买号" align="center">
                        </el-table-column>
                        <el-table-column prop="type" label="任务类型" align="center">
                        </el-table-column>
                        <el-table-column prop="taskTime" label="任务截至时间" align="center">
                        </el-table-column>
                        <el-table-column prop="principal" label="垫付本金(元)" align="center">
                        </el-table-column>

                        <el-table-column prop="taskNum" label="任务编号" align="center">
                        </el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="text" @click="handleQuXiao(scope.$index)">取消</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                </div>
                <!-- 银锭充值 -->
                <div class="web_gonggao">
                    <div class="gonggao_row">
                        <div class="gonggao_top">
                            <a href="javascript:" class="select_on">上传尾款截图</a>
                        </div>
                        <p>尾款时间：{{ystime}}</p>
                        <div class="gonggao_top">
                            <el-button  type="danger" @click="dialogVisible = true">上传尾款截图</el-button>
                        </div>
                    </div>
                </div>
                <!-- 提示 -->
                <div class="alert">
                    <div class="alert_title">
                        <i class="el-icon-warning" style="font-size: 26px;margin-right: 10px"></i>
                        <p>温馨提示：</p>
                    </div>
                    <div class="alert_txt">
                        <p>1. 商家订单要求：注意自己的号，注意自己的号，注意自己的号!最近查的比较紧，不要影响彼此之间的账号安全！无需假聊，提交订单先不付款，到首页看同款【注意：在同款详情页里至少看1-2分钟】在回来对比下付款！</p>
                        <p>2. 未按指定文字好评，图片好评，将扣除10银锭</p>
                        <p>3. 评价环节，胡乱评价、复制他人评价、评价与商品不符、中差评、低星评分等恶劣评价行为,将下架买号一个月</p>
                        <p>4. 请复制以上指定内容到淘宝进行评价</p>
                        <p>5. 无指定好评可根据商品15字左右自由发挥</p>
                    </div>
                </div>
                <el-dialog title="温馨提示" :visible.sync="dialogVisible">
                    <div>
                        <p>1.填写订单号</p>
                        <p>
                            <span style="color:red;display: block;margin: 10px 0 15px 0;"> *如任务商品拍下后产生2个订单号，请将2个订单号同时填写到下方，两个订单号中间用减号'-'隔开。</span>
                            <span>订单号：</span>
                            <el-input
                                    style="width: 240px;"
                                    placeholder="请输入内容"
                                    v-model="inputValue"
                                    clearable>
                            </el-input>
                        </p>
                        <p>2.填写实际付款金额</p>
                        <p>
                            <span>付款金额：</span>
                            <el-input
                                    type="number"
                                    style="width: 180px;"
                                    @change="inputchange"
                                    v-model.number="inputNumber">
                            </el-input>
                            <span style="color:red;margin-left: 10px;">*实际付款金额不得超过或者小于订单金额100元</span>
                        </p>
                        <p>3.请上传尾款截图：</p>
                        <p style="margin: 20px 0;">
                            <el-upload ref="unload" action="string"
                                       list-type="picture-card"
                                       :on-remove="handleRemove"
                                       :on-change="handleChange"
                                       :limit="1"
                                       :auto-upload="false">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                        </p>
                    </div>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="takeDelivery">确 定</el-button>
                    </div>
                </el-dialog>

            </div>
        </div>

    </div>


    <!-- 底部 -->
    {include file="public/footer" /}