<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <title>注册</title>
  <link rel="stylesheet" type="text/css" href="/static/buy/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="/static/mobile/css/plugin.css" type="text/css">
  <link rel="stylesheet" href="/static/mobile/css/public.css" type="text/css">
  <link rel="stylesheet" href="/static/mobile/css/page.css" type="text/css">
  <script src="/static/mobile/js/all.js" type="text/javascript" charset="UTF-8"></script>
  <script src="/static/mobile/js/jquery-1.12.4.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="/static/mobile/js/vue-2.6.10.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="/static/buy/element-ui/lib/index.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/mobile/js/vant.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="/static/mobile/js/public.js" type="text/javascript" charset="UTF-8"></script>
  <script src="/static/buy/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
  
  <script>
    $(function () {
      // 手机号正则表达式
      var phoneReg = /^1[3-9]\d{9}$/;
      var vm = new Vue({
        el: ".tfkz-container",
        data: function () {
          return {
            yzmMsg: "发送验证码",
            mobile:'',
            login_pwd:'',
            login_pwd2:'',
            qq:'',
            wechat:'',
            username:'',
            dxyzm:'',
            isDisabled: false,
            provinceValue2: "",
            cityValue2: "",
            blockValue2: "",
            provinceList2: [],
            cityList2: [],
            blockList2: [],
            newCity2: [],
            newBlock2: [],
            /* 省市常用登陆地 */
            mapJson: "/static/buy/json/map.json",
          };
        },
        created: function () {
                    this.getCityData2();
                },
        methods: {
          // 获取json数据,二级联动
          getCityData2: function () {
                var that = this;
                axios.get(this.mapJson).then(function (response) {
                    if (response.status === 200) {
                        var data = response.data;
                        // 省市区数据分类
                        for (var item in data) {
                            if (item.match(/0000$/)) {
                                that.provinceList2.push({
                                    id: item,
                                    value: data[item],
                                    children: []
                                });
                            } else if (item.match(/00$/)) {
                                that.newCity2.push({
                                    id: item,
                                    value: data[item],
                                    children: []
                                });
                            } else {
                                that.newBlock2.push({
                                    id: item,
                                    value: data[item]
                                });
                            }
                        }
                        // 分类市级
                        for (var index in that.provinceList2) {
                            for (var index1 in that.newCity2) {
                                if (that.provinceList2[index].id.slice(0, 2) === that.newCity2[index1].id.slice(0,
                                    2)) {
                                    that.provinceList2[index].children.push(that.newCity2[index1]);
                                }
                            }
                        }
                        // 分类区级
                        for (var item1 in that.newCity2) {
                            for (var item2 in that.newBlock2) {
                                if (that.newBlock2[item2].id.slice(0, 4) === that.newCity2[item1].id.slice(0, 4)) {
                                    that.newCity2[item1].children.push(that.newBlock2[item2]);
                                }
                            }
                        }
                    } else {
                        // console.log(response.status);
                    }
                }).catch(function (error) {
                    // console.log(typeof + error);
                })
            },
            // 选省
            chooseProvince2: function (e) {
                for (var index2 in this.provinceList2) {
                    if (e === this.provinceList2[index2].id) {
                        this.provinceValue2 = this.provinceList2[index2].value;
                        this.cityList2 = this.provinceList2[index2].children;
                        this.cityValue2 = this.provinceList2[index2].children[0].value;
                        this.blockList2 = this.provinceList2[index2].children[0].children;
                    }
                }
                console.log(this.provinceValue2, this.cityValue2);
            },
            // 选市
            chooseCity2: function (e) {
                for (var index3 in this.newCity2) {
                    if (e === this.newCity2[index3].id) {
                        this.cityValue2 = this.newCity2[index3].value;
                        this.blockList2 = this.newCity2[index3].children;
                    }
                }
                console.log(this.cityValue2);
            },
          check_mobile:function(){
            $.ajax({
              type : 'POST',
              url : "{:url('buy/login/check_mobile')}",
              async : true,
              data : {
                "mobile":vm.mobile,
              },
              success : function(data){
                if(data.code==1){
                  alertSuccess(data.msg);
                  setTimeout(function(){
                    return location.href=data.url;
                  },3000)

                }else{
                  return alertError(data.msg);
                }
              },
              error : function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status + "," + textStatus);
              }
            });
          },
          //点击注册
          click:function(){
            if(!this.mobile) return alertError("手机号不能为空");
            if (!phoneReg.test(this.mobile)) {
              return alertError("手机号码格式不规范,请检查后重新输入");}
            if(!this.login_pwd) return alertError("密码不能为空");
            if(!this.login_pwd2) return alertError("确认密码不能为空");
            if(!this.qq) return alertError("QQ账号不能为空");
            if(!this.username) return alertError("用户名不能为空");
            if(!this.wechat) return alertError("微信号不能为空");
            if(!this.provinceValue2) return alertError("省份不能为空");
            if(!this.cityValue2) return alertError("城市不能为空");
           // if(!this.dxyzm) return vm.alertError("验证码不能为空,请点击发送验证码");
            $.ajax({
              type : 'POST',
              url : "{:url('mobile/login/check_register')}",
              async : true,
              data : {
                "mobile":vm.mobile,
                "login_pwd":vm.login_pwd,
                "login_pwd2":vm.login_pwd2,
                "qq":vm.qq,
                "username":vm.username,
                "dxyzm":vm.dxyzm,
                'type':"{$type}",
                'invite':"{$invite}",
                "wechat":vm.wechat,
                'province':vm.provinceValue2,
                'city':vm.cityValue2,
              },
              success : function(data){
                if(data.code==1){
                  alertSuccess(data.msg);
                  setTimeout(function(){
                    return location.href=data.url;
                  },3000)

                }else{
                  return alertError(data.msg);
                }
              },
              error : function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status + "," + textStatus);
              }
            });
          },
          sendYzm: function () {
            if(!vm.mobile) return alertError("手机号不能为空");
            if (!phoneReg.test(vm.mobile)) {
              return alertError("手机号码格式不规范,请检查后重新输入");}
            $.ajax({
              type : 'POST',
              url : "{:url('mobile/way/send_code')}",
              async : true,
              data : {
                "mobile":vm.mobile,
                "dxyzm":vm.dxyzm
              },
              success : function(data){
                // vm.alertError(data.msg);
              },
              error : function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status + "," + textStatus);
              }
            });
            var num = 60;
            var that = this;
            this.isDisabled = true;
            var timer = setInterval(function () {
              num--;
              that.yzmMsg = "还剩 " + num + " 秒";
              if (num <= 0) {
                that.isDisabled = false;
                that.yzmMsg = "重新发送";
                clearInterval(timer);
              }
              if (num === 59) {
                alertSuccess("验证码发送成功");
              }
            }, 1000);
          }
        }
      });
    });
  </script>
</head>
<body>
<div class="tfkz-container">
  <div class="register-box">
    <!-- 登录框 -->
    <div class="login-wrap">
      <h1>买手注册</h1>
      <div class="input-box">
        <input type="text" maxlength="11" @blur="check_mobile" placeholder="请输入手机号" v-model="mobile" />
      </div>
      <div class="input-box">
        <input type="text" placeholder="请输入用户名" v-model="username" />
      </div>
      <div class="input-box">
        <input type="password" placeholder="请输入密码" v-model="login_pwd" />
      </div>
      <div class="input-box">
        <input type="password" placeholder="请确认密码" v-model="login_pwd2" />
      </div>
      <div class="input-box">
        <input type="text" placeholder="请输入QQ账号" v-model="qq" />
      </div>
      <div class="input-box">
        <input type="text" id="wechat" placeholder="请输入微信号" v-model="wechat">
      </div>
      <div class="input-box">
        <el-select class="el_select" v-model="provinceValue2" @change="chooseProvince2" placeholder="请选择省份">
            <el-option v-for="item in provinceList2" :key="item.id" :label="item.value" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box">
        <el-select class="el_select" v-model="cityValue2" @change="chooseCity2" placeholder="请选择城市">
          <el-option v-for="item in cityList2" :key="item.id" :label="item.value" :value="item.id"></el-option>
        </el-select>
      </div>
     <!-- <div class="input-box">
        <input type="text" maxlength="6" placeholder="短信验证码" v-model="dxyzm" />
        <van-button :disabled="isDisabled" class="send-yzm" type="info" @click="sendYzm">{{yzmMsg}}</van-button>
      </div>-->
      <div class="login-btn">
        <van-button class="login-btn-item" @click="click" type="info">点击注册</van-button>
      </div>
    </div>
  </div>
</div>
</body>
</html>

