<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安巨</title>
    <link rel="stylesheet" type="text/css" href="/static/buy/element-ui/lib/theme-chalk/index.css"/>
    <!-- 页面内容CSS -->
    <link rel="stylesheet" type="text/css" href="/static/buy/css/pageCss/zhangHaoTiXian.css"/>
    <link rel="Shortcut Icon" type="image/x-icon" href="/static/buy/img/index.png" />
    <script src="/static/buy/js/vue-2.6.10.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/element-ui/lib/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            // 手机号正则表达式
            var phoneReg = /^1[3-9]\d{9}$/;
            // 身份证号码正则表达式
            var idcardReg = /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
            // 银行卡正则
            var bankreg = /^(\d{16}|\d{17}|\d{18}|\d{19})$/;
            {notempty name="withdeawl"}
            var str = "{$withdeawl.bank_no}";
            var reg = /^(\d{4})\d+(\d{4})$/;
            str = str.replace(reg, "$1 **** **** $2");
            {/notempty}
            /* 为element-ui组件提供数据绑定和事件 */
            var vm = new Vue({
               el: ".center_box",
                data: function () {
                    return {
                        dialogFormVisible: false,
                    {empty name="withdeawl"}
                    empty:0,
                        form: {
                            name: "",
                            yinHangName: "",
                            kaiHuName: "",
                            yinHangKaHao: "",
                            shenFenZhengNum: "",
                            phoneNum: "",
                            province: "",
							city:"",
                            zfb: '',
							idcard_img:"",
							idcard_img1:"",
                        },
                        provinceValue2: "",
                        cityValue2: "",
                        /* 变量保存图片 */
                        localFile: "",
                        localFile2: "",
                        {/empty}
                    {notempty name="withdeawl"}
                    empty:1,
                    form: {
                            name:"{$withdeawl.bank_user}",
                            yinHangName: "{$choose_bank.name}",
                            kaiHuName: "{$withdeawl.branch_name}",
                            yinHangKaHao: "{$withdeawl.bank_no}",
                            shenFenZhengNum: "{$withdeawl.idcard}",
                            phoneNum: "{$withdeawl.mobile}",
                            zfb: "{$withdeawl.zfb}",
                    },
                    provinceValue2: "{$withdeawl.province}",
                        cityValue2: "{$withdeawl.city}",
                        /* 变量保存图片 */
                        localFile: '{$withdeawl.idcard_img_a}',
                        localFile2: '{$withdeawl.idcard_img_b}',
                        filelist2: [{
                        url: '{$withdeawl.idcard_img_b}'
                    }],
                    {/notempty}
                        yinHangList: [
                            {volist name="bank" id="vo"}
                                "{$vo.name}",
                            {/volist}
                        ],
                        /* 省市常用登陆地 */
                        mapJson: "/static/buy/json/map.json",
                        blockValue2: "",
                        provinceList2: [],
                        cityList2: [],
                        blockList2: [],
                        newCity2: [],
                        newBlock2: [],
                        /* 默认只能选择一张图片 */
                        picNum: 1,

                        {notempty name="withdeawl"}

                        /* 表格数据 */
                        tableData: [{
                            kaiHuName: "{$withdeawl.bank_user}",
                            phoneNum: "{$withdeawl.mobile}",
                            shenFenZhengNum: str,
                            zhangHao: "{$choose_bank.name}",
                            zhuangTai: "待审核",
                            remarks: "{$withdeawl.remarks}",
                            id: {if condition="$withdeawl.state == 1"}1 {elseif condition="$withdeawl.state == 2"}2{elseif condition="$withdeawl.state == 0"}0{/if}
                        }],
                            {/notempty}
                        /* 按钮默认不禁用 */
                        curDisabled: false,
                            // input默认不禁用
                            inputDisabled:false
                    }
                },
                methods: {
                    imgSuccress2:function(res){
						if(res.code==1){
							this.localFile2 = res.data
						}else{
							layer.alert(res.msg);
						}
					},
                    imgSuccress:function(res){
						if(res.code==1){
							this.localFile = res.data
						}else{
							layer.alert(res.msg);
						}
					},
                    getMobile:function(){
                        $.post("{:url('my/bankMobile')}",{'mobile' : this.form.phoneNum},function(res){
                            if(res.code==1){
                            }else{  
                                vm.form.phoneNum='';
                                return vm.alertError(res.msg);
                            }
                        })
                    },
                    // 绑定银行卡确定事件
                    bindActive:function(){
                        console.log("绑定银行卡点击");
                        if(!this.form.name) {return vm.alertError("请输入姓名");}
                        if(!this.form.yinHangName) {return vm.alertError("请输入银行名称");}
                        if(!this.provinceValue2) {return vm.alertError("请选择开户行城市");}
                        if(!this.form.kaiHuName) {return vm.alertError("请输入支行名称");}
                        if(!this.form.yinHangKaHao) {return vm.alertError("请输入银行卡号");}
                        if (!bankreg.test(this.form.yinHangKaHao)) {return vm.alertError("银行卡号码格式不规范,请检查后重新输入");}
                        if(!this.form.shenFenZhengNum) {return vm.alertError("请输入身份证号码");}
                        if (!idcardReg.test(this.form.shenFenZhengNum)) {return vm.alertError("身份证号码格式不规范,请检查后重新输入");}
                        if(!this.form.phoneNum) {return vm.alertError("请输入银行预留手机号码");}
                        if (!phoneReg.test(this.form.phoneNum)) {return vm.alertError("手机号码格式不规范,请检查后重新输入");}
                        $.ajax({
                            type : 'POST',
                            url : "{:url('buy/my/add_bank_card')}",
                            async : true,
                            data : {
                                "name":vm.form.name,
                                "province":vm.provinceValue2,
                                "city":vm.cityValue2,
                                "bank_no":vm.form.yinHangKaHao,
                                "branch_name":vm.form.kaiHuName,
                                "bank_id":vm.form.yinHangName,
                                "idcard":vm.form.shenFenZhengNum,
                                "mobile":vm.form.phoneNum,
                                "zfb":vm.form.zfb,
                                "idcard_img_a":vm.localFile,
                                "idcard_img_b":vm.localFile2,
                            },
                            success : function(data){
                                if(data.code==1){
                                    vm.alertSuccess(data.msg);
                                    setTimeout(function(){
                                        return location.href=data.url;
                                    },3000)

                                }else{
                                    return vm.alertError(data.msg);
                                }
                            },
                            error : function(XMLHttpRequest, textStatus) {
                                alert(XMLHttpRequest.status + "," + textStatus);
                            }
                        });
                    },
                    /* 下拉菜单事件 */
                    handleOpen: function (key, keyPath) {
                        // console.log(key, keyPath);
                    },
                    handleClose: function (key, keyPath) {
                        // console.log(key, keyPath);
                    },
                    /* 消息弹框事件 */
                    openMsg: function () {
                        this.$alert("暂无消息通知", "个人通知", {});
                    },
                    /* 打开弹框的时候让表单初始化 */
                    openDialogForm: function () {
                        /* 让弹框显示 */
                        this.dialogFormVisible = true;
                        /* 清空表单数据 */
                        this.form.name = "";
                        this.form.yinHangName = "";
                        this.provinceValue2 = "";
                        this.cityValue2 = "";
                        this.form.kaiHuName = "";
                        this.form.yinHangKaHao = "";
                        this.form.shenFenZhengNum = "";
                        this.form.phoneNum = "";
                    },
                    /* 通过更换银行卡打开的话不初始化表单数据 */
                    openDialogForm2: function () {
                        /* 让弹框显示 */
                        this.dialogFormVisible = true;
                        this.inputDisabled = true;
                    },
                    /* 判断上传文件类型和大小 */
                    beforeUpload: function (file) {
                        var isJPG = file.type === "image/jpeg";
                        var isPng = file.type === "image/png";
                        var picSize = file.size / 1024 / 1024 < 2;

                        if (!(isJPG || isPng)) {
                            this.$message.error("上传头像图片只能是 JPG和PNG 格式");
                        }
                        if (!picSize) {
                            this.$message.error("上传图片大小不能超过 2MB");
                        }
                        return (isJPG && picSize) || (isPng && picSize);
                    },
                    /* 删除图片 */
                    handleRemove: function (file) {
                        // console.log(file);
                    },
                    handleRemove2: function (file) {
                        // console.log(file);
                    },
                    /* 给表格上色 */
                    cellStyle: function (e) {
                        var id = this.tableData[e.rowIndex].id;
                        if (e.columnIndex === 4) {
                            if (id === 0) {
                                this.tableData[e.rowIndex].zhuangTai = "待审核";
                                return "color:red;";
                            } else if(id === 1){
                                this.tableData[e.rowIndex].zhuangTai = "审核完成";
                                return "color:green;";
                            }else if(id === 2){
                                this.tableData[e.rowIndex].zhuangTai = "审核不通过";
                                return "color:red;";
                            }
                        }
                    },
                    /* 页面初始化的时候判断按钮是否禁用 */
                    btnDisabled: function () {
                        if(this.tableData){
                            for (var i = 0; i < this.tableData.length; i++) {
                                var id = this.tableData[i].id;
                                this.curDisabled = id === 0;
                            }
                        }
                    },
                    /* 省市区二级联动方法 */
                    // 获取json数据,二级联动
                    getCityData2: function () {
                        var that = this;
                        axios.get(this.mapJson).then(function (response) {
                            if (response.status === 200) {
                                var data = response.data;
                                // 省市区数据分类
                                for (var item in data) {
                                    if (item.match(/0000$/)) {
                                        that.provinceList2.push({
                                            id: item,
                                            value: data[item],
                                            children: []
                                        });
                                    } else if (item.match(/00$/)) {
                                        that.newCity2.push({
                                            id: item,
                                            value: data[item],
                                            children: []
                                        });
                                    } else {
                                        that.newBlock2.push({
                                            id: item,
                                            value: data[item]
                                        });
                                    }
                                }
                                // 分类市级
                                for (var index in that.provinceList2) {
                                    for (var index1 in that.newCity2) {
                                        if (that.provinceList2[index].id.slice(0, 2) === that.newCity2[index1].id.slice(0,
                                            2)) {
                                            that.provinceList2[index].children.push(that.newCity2[index1]);
                                        }
                                    }
                                }
                                // 分类区级
                                for (var item1 in that.newCity2) {
                                    for (var item2 in that.newBlock2) {
                                        if (that.newBlock2[item2].id.slice(0, 4) === that.newCity2[item1].id.slice(0, 4)) {
                                            that.newCity2[item1].children.push(that.newBlock2[item2]);
                                        }
                                    }
                                }
                            } else {
                                // console.log(response.status);
                            }
                        }).catch(function (error) {
                            // console.log(typeof + error);
                        })
                    },
                    // 选省
                    chooseProvince2: function (e) {
                        for (var index2 in this.provinceList2) {
                            if (e === this.provinceList2[index2].id) {
                                this.provinceValue2 = this.provinceList2[index2].value;
                                this.cityList2 = this.provinceList2[index2].children;
                                this.cityValue2 = this.provinceList2[index2].children[0].value;
                                this.blockList2 = this.provinceList2[index2].children[0].children;
                            }
                        }
                        console.log(this.provinceValue2, this.cityValue2);
                    },
                    // 选市
                    chooseCity2: function (e) {
                        for (var index3 in this.newCity2) {
                            if (e === this.newCity2[index3].id) {
                                this.cityValue2 = this.newCity2[index3].value;
                                this.blockList2 = this.newCity2[index3].children;
                            }
                        }
                        console.log(this.cityValue2);
                    },

                    /* 失败的弹框 */
                    alertError: function (e) {
                        this.$message.error(e);
                    },
                    /* 成功的弹框 */
                    alertSuccess: function (e) {
                        this.$message({
                            message: e,
                            type: "success"
                        });
                    },

                    /* 确定按钮进行表单验证 */
                    queDingBtnActive: function () {
                        var that = this;
                        if(!that.form.name) {return vm.alertError("请输入姓名");}
                        if(!that.form.yinHangName) {return vm.alertError("请输入银行名称");}
                        if(!that.provinceValue2) {return vm.alertError("请选择开户行城市");}
                        if(!that.form.kaiHuName) {return vm.alertError("请输入支行名称");}
                        if(!that.form.yinHangKaHao) {return vm.alertError("请输入银行卡号");}
                        if (!bankreg.test(that.form.yinHangKaHao)) {
                            return vm.alertError("银行卡号码格式不规范,请检查后重新输入");}
                        if(!that.form.shenFenZhengNum) {return vm.alertError("请输入身份证号码");}
                        if (!idcardReg.test(that.form.shenFenZhengNum)) {
                            return vm.alertError("身份证号码格式不规范,请检查后重新输入");}
                        if(!that.form.phoneNum) {return vm.alertError("请输入银行预留手机号码");}
                        if (!phoneReg.test(that.form.phoneNum)) {
                            return vm.alertError("手机号码格式不规范,请检查后重新输入");}
                        console.log("更换银行卡点击")

                        $.ajax({
                            type : 'POST',
                            url : "{:url('buy/my/edit_bank_card')}",
                            async : true,
                            data : {
                                "name":vm.form.name,
                                "province":vm.provinceValue2,
                                "city":vm.cityValue2,
                                "bank_no":vm.form.yinHangKaHao,
                                "branch_name":vm.form.kaiHuName,
                                "bank_id":vm.form.yinHangName,
                                "idcard":vm.form.shenFenZhengNum,
                                "mobile":vm.form.phoneNum,  "zfb":vm.form.zfb,
                                "idcard_img_a":vm.localFile,
                                "idcard_img_b":vm.localFile2,
                            },
                            success : function(data){
                                if(data.code==1){
                                    vm.alertSuccess(data.msg);
                                    setTimeout(function(){
                                        return location.href=data.url;
                                    },3000)

                                }else{
                                    return vm.alertError(data.msg);
                                }
                            },
                            error : function(XMLHttpRequest, textStatus) {
                                alert(XMLHttpRequest.status + "," + textStatus);
                            }
                        });
                    }
                },
                created: function () {
                    this.getCityData2();
                    this.btnDisabled();
                }
            });
        });

        /* 调用jQuery实现选择导航栏效果 */
        $(function () {

            $(".title a").click(function () {
                $(this).addClass("add_color").siblings().removeClass("add_color");
            });

        });
    </script>
</head>
<body>
<div class="container">

    <!-- 头部 -->
    {include file="public/header" /}

    <!-- 中间内容部分 -->
    <div class="center_box">
        <!-- 下拉列表 -->
        {include file="public/left" /}

        <!-- 右边盒子部分 -->
        <div class="right_box">
            <!-- 基本信息标题 -->
            <div class="msg_title">
                <p>个人中心&nbsp;/&nbsp;账号信息&nbsp;/&nbsp;<span class="msg_title_txt">实名认证</span></p>
            </div>
            <div class="user_content">

                <!-- 提现账户管理 -->
                <div class="web_gonggao">
                    <div class="gonggao_row">
                        <div class="gonggao_top">
                            <a href="javascript:" class="select_on">实名认证管理</a>
                        </div>
                    </div>
                </div>

                {empty name="withdeawl"}
                <!-- 暂无银行卡 -->
                <div class="yinhangka">
                    <img src="/static/buy/img/yinhangka.png" alt=""/>
                    <p>暂未实名认证</p>
                    <el-button type="success" size="small" icon="el-icon-plus" @click="openDialogForm">实名认证</el-button>
                </div>
                {/empty}

                {notempty name="withdeawl"}
                <!-- 更换银行卡 -->
                <div class="change">
                    <el-table :data="tableData"
                              border
                              header-cell-style="background:#f5f7fa;"
                              :cell-style="cellStyle"
                              style="width: 100%;margin: 20px 0;">
                        <el-table-column prop="kaiHuName" label="开户名" align="center">
                        </el-table-column>
                        <el-table-column prop="phoneNum" label="预留手机号码" align="center">
                        </el-table-column>
                        <el-table-column prop="shenFenZhengNum" label="银行卡号" align="center">
                        </el-table-column>
                        <el-table-column prop="zhangHao" label="银行" align="center">
                        </el-table-column>
                        <el-table-column prop="zhuangTai" label="状态" align="center">
                        </el-table-column>
                        <el-table-column prop="remarks" label="备注" align="center">
                        </el-table-column>
                        <el-table-column label="操作" align="center">
                            <el-button type="warning" icon="el-icon-edit" size="small" :disabled="curDisabled"
                                       @click="openDialogForm2">更换实名认证
                            </el-button>
                        </el-table-column>
                    </el-table>
                </div>
                {/notempty}

                <!-- 嵌套表单内容 -->
                <el-dialog title="绑定银行卡" :visible.sync="dialogFormVisible">
                    <div class="form_box">
                        <el-form ref="form" :model="form" class="el_form">
                            <div class="el_form_item" style="position:relative;">
                                <p>开户名:</p>
                                <el-input v-model="form.name" :disabled="inputDisabled" placeholder="请输入姓名" class="el_form_width"></el-input>
                                <p style="position: absolute;right: -156px;top: 30px;color: red;font-size: 14px;width: 164px;">*开户名添加后就无法修改</p>
                            </div>
                            <div class="el_form_item">
                                <p>银行:</p>
                                <el-select v-model="form.yinHangName" placeholder="请选择银行" class="el_form_width">
                                    <el-option v-for="item in yinHangList" :value="item"></el-option>
                                </el-select>
                            </div>
                            <div class="el_form_item">
                                <p>开户行城市:</p>
                                <div class="el_form_width">
                                    <el-select class="el_select" v-model="provinceValue2" @change="chooseProvince2"
                                               placeholder="请选择省份">
                                        <el-option v-for="item in provinceList2" :key="item.id" :label="item.value" :value="item.id">
                                        </el-option>
                                    </el-select>
                                    <el-select class="el_select" v-model="cityValue2" @change="chooseCity2" placeholder="请选择城市">
                                        <el-option v-for="item in cityList2" :key="item.id" :label="item.value" :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="el_form_item">
                                <p>开户行支行名称:</p>
                                <el-input v-model="form.kaiHuName" placeholder="请输入内容" class="el_form_width"></el-input>
                            </div>
                            <div class="el_form_item">
                                <p>银行卡号:</p>
                                <el-input v-model="form.yinHangKaHao" placeholder="请输入银行卡号" class="el_form_width"></el-input>
                            </div>
                            <div class="el_form_item">
                                <p>支付宝账号:</p>
                                <el-input v-model="form.zfb" placeholder="请输入支付宝账号" class="el_form_width"></el-input>
                            </div>
                            <div class="el_form_item">
                                <p>身份证号码:</p>
                                <el-input v-model="form.shenFenZhengNum" placeholder="请输入身份证号" class="el_form_width"></el-input>
                            </div>
                            <div class="el_form_item">
                                <p>手机号码:</p>
                                <el-input v-model="form.phoneNum" placeholder="请输入手机号" class="el_form_width" maxlength="11" @change="getMobile()"></el-input>
                            </div>

                            <!-- 头像上传 -->
                            <div class="upload_pic">
                                <p>身份证上传(正面):</p>
                                <div class="el_pic_upload">
                                    <el-upload ref="unload" 
                                    action="{:url('seller/goods/goodsImg')}" 
                                    :on-success="imgSuccress"
                                    list-type="picture-card" 
                                    :on-remove="handleRemove2"
                                    :before-upload="beforeUpload"
                                    :show-file-list="false">
                                    <img style="width: 100%;height: 100%;" v-if="localFile" :src="localFile" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                    </el-upload>
                                </div>
                            </div>
                            <div class="upload_pic">
                                <p>身份证上传(反面):</p>
                                <div class="el_pic_upload">
                                    <el-upload ref="unload" 
                                    action="{:url('seller/goods/goodsImg')}" 
                                    :on-success="imgSuccress2"
                                    list-type="picture-card" 
                                    :on-remove="handleRemove2"
                                    :before-upload="beforeUpload"
                                    :show-file-list="false">
                                    <img style="width: 100%;height: 100%;" v-if="localFile2" :src="localFile2" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                    </el-upload>
                                </div>
                            </div>
                        </el-form>
                    </div>
                    <!-- 确定取消按钮 -->
                    <div slot="footer" class="dialog-footer" style="align-self: flex-end;margin: 20px;">
                        <el-button @click="dialogFormVisible = false" size="small">取 消</el-button>
                        <el-button type="primary" @click="empty==0?bindActive():queDingBtnActive()" size="small">确 定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    {include file="public/footer" /}
