button,input,textarea{font-size:14px;color:#333}
a,button,input,select,textarea{outline:0;font-family:microsoft yahei}
textarea{resize:none}
img{border:none}
button,img,input,select{vertical-align:middle}
button,label{cursor:pointer;display:inline-block}
dd,dl,dt,li,ol,ul{list-style-type:none;text-align:left}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0;width:100%}
caption,td,th{text-align:left;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-size:100%;text-align:left}
h1{font-size:24px}
h2{font-size:22px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
a{color:#06c;text-decoration:none}
a:hover{color:#06c;text-decoration:underline}
select{border:1px solid #d6d6d6;color:#333;padding:2px}
label{margin-right:5px}
textarea{border:1px solid #ddd;padding:5px;line-height:18px;margin:2px 6px 3px 2px;display:inline-block}
.clear{overflow:hidden}
.cr{vertical-align:-2px}
.hide{display:none!important}
.radius2px{border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
.radius5px{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.radius20px{border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px}
.shadow6px{box-shadow:0 0 6px #b5b5b5;-webkit-box-shadow:0 0 6px #b5b5b5;-moz-box-shadow:0 0 6px #b5b5b5}
.table{width:100%}
.table td,.table th{text-align:center;border-bottom:1px solid #eee;padding:8px;line-height:26px}
.table th{color:#333}
.table td{color:#666}
.tableborder td,.tableborder th{border:1px solid #ddd}
.tabletree th{text-align:right}
.tabletree td{text-align:left}
.table-pm td,.table-pm th{padding:5px}
.tablesml td,.tablesml th{padding:6px;border:1px solid #ddd;color:#444}
.tablesml td{vertical-align:middle}
.tableleft td{text-align:left;line-height:24px}
.tableleft th{text-align:center;vertical-align:middle}
.tabtit th{background-color:#f2f2f2}
.opta a{margin-left:10px}
.table .tabico i{width:38px;height:38px;display:block}
.tablesave td{padding:20px}
.table .tabpoint{font-size:16px;font-weight:700;color:#333;margin-right:3px}
.table .opra input,.table .opra label,.table .opra select{margin-right:10px}
.tablemony td,.tablemony th{padding:14px 6px}
.tablemony th{    color: #555;
    background-color: #ffe9e9;
    font-size: 14px;
    font-weight: normal;
    padding-right: 15px;}
.tablemony td{color:#555}
.tablemony .colord72800{color:#d72800;font-size:16px}
.tablemony .colorfe5911{color:#fe5911;font-size:16px}
.tablemony_stock td,.tablemony_stock th{padding:20px 6px}
.tablemony_stock th{color:#000;background-color:#f9f9f9}
.tablemony_stock td{color:#555}
.tablemony_stock .colord72800{color:#d72800;font-size:16px}
.tablemony_stock .colorfe5911{color:#fe5911;font-size:16px}
.fl{float:left;}
.fr{float:right}
.posrel{position:relative;margin:0 auto;width:960px}
.posrel_head{position:relative;margin:0 auto}
.cgdown_posrel{position:relative}
.posrel1{position:relative}
.posabs{position:absolute}
.auto{margin:0 auto}
.margin-bottom15{margin-bottom:15px}
.margin-bottom25{margin-bottom:25px}
.margin-top15{margin-top:15px}
.margin-left20{margin-left:20px}
.margin-right12{margin-right:12px}
.margin-left55{margin-left:55px}
.margin-logn{padding:30px 0 60px 50px}
.margin-reg{padding:30px 45px}
.margin-left15{margin-left:15px}
.width150{width:150px}
.width270{width:270px}
.width290{width:290px}
.width310{width:310px}
.width320{width:320px}
.width332{width:286px}
.width830{width:830px}
.height370{height:370px;overflow:hidden}
.height527{height:527px;overflow:hidden}
.box{position:relative}
.boxwidth730{width:730px;background-color:#fff;margin-top:46px}
.wrap-full{width:1150px;margin:15px auto 0 auto}
.contentuser{background-color:#fff}
.mainbody{padding:16px 30px}
.min-height130{height:auto!important;height:130px;min-height:130px}
.min-height500{height:auto!important;height:500px;min-height:500px}
.min-height491{height:auto!important;height:491px;min-height:491px}
.ipt{border:1px solid #ddd;background-color:#fff;padding:0 6px;color:#999}
.ipt:hover{border:1px solid #bbb}
.ipt-lrlgn{height:48px;line-height:48px;width:300px;font-size:16px;color:#333;padding-left:60px}
.ipt-vcode{height:48px;line-height:48px;width:245px;font-size:16px;color:#333;padding-left:10px}
.ipt-gra{height:30px;line-height:30px}
span.emptyhint{color:#999;position:absolute;top:16px;left:60px}
.margin-bottom20{margin-bottom:20px}
.iptexp{top:0;left:65px;line-height:48px;color:#aaa;font-size:16px}
.fmboxl{width:50px;height:50px;background-color:#7d8b99}
.fmboxl img{display:block;margin:8px 0 0 8px}
.fmboxr{height:48px;border:1px solid #ddd;border-left:none;padding:0 12px}
.fmboxr input{margin-top:5px}
.fmboxr:hover{border:1px solid #bbb;border-left:none}
.ipt-fhform{border:none;width:290px;height:36px;line-height:36px;font-size:16px;color:#333}
.btn{border:none;display:inline-block;text-align:center;cursor:pointer;font-family:microsoft yahei;color:#fff;width:auto;overflow:visible}
.btn:hover{text-decoration:none}
.btnorg{background-color:#d72800}
.btnorg:hover{background-color:#ff6d1e;color:#fff}
.btnorg:active{background-color:#fb5900}
.btnorgd{background-color:#d72800;color:#fff}
.btnorgd:hover{background-color:#fdcc99;color:#802400}
.btnorgd:active{background-color:#fbc083}
.btnorg-sizebig{font-size:18px;width:165px;height:48px;line-height:48px}
.btnorg-sizebig1{font-size:18px;width:185px;height:48px;line-height:48px}
.btnred{background-color:#d72800}
.btnred:hover{background-color:#ed3409;color:#fff}
.btnred:active{background-color:#c92601}
.btn-gralerr{height:30px;line-height:17px;color:#333;background:url(../../images/add/btn_bg.gif) repeat-x 0 0;padding:0 15px;overflow:hidden}
.btn-gralerr span{display:inline-block;padding-top:7px}
.btn-gralerr span img{margin-right:5px}
.btn-gralerr:hover{color:#06c;background:url(../../images/add/btn_bg.gif) repeat-x 0 -37px;text-decoration:none}
.btn-gralerr:active{color:#06c;background:url(../../images/add/btn_bg.gif) repeat-x 0 0}
.btnsize13{padding:0 12px;height:32px;line-height:32px}
.bgheader{background:url(../../images/add/bg01.jpg) repeat-x center bottom}
.bgwhite{background-color:#fff}
.bgerror{background:url(../../images/add/light_bg.jpg) #e2ecf6 no-repeat center top}
.model_banner{width:100%}
.liucheng_ico{width:1150px;margin:15px auto;padding-left:160px}
.wrap1000{width:1000px;margin:0 auto}
.ico{display:inline-block;background-image:url(../../images/add/ico.png);background-repeat:no-repeat}
.ico-ftn{background-position:0 0}
.ico-fpz{background-position:-68px 0}
.ico-ftel{background-position:-132px 0}
.ico-ttel{background-position:-134px -30px}
.ico-arr{background-position:-167px 0}
.ico-lruser{background-position:-117px -74px}
.ico-lrpass{background-position:-117px -122px}
.ico-lrgt{background-position:-167px -25px}
.ico-lrsucc{background-position:-166px -85px}
.ico-lrtry1{background-position:-230px 0}
.ico-lrtry2{background-position:-297px 0}
.ico-lrtry3{background-position:-230px -67px}
.ico-lrtry4{background-position:-297px -67px}
.ico-mod1{background-position:-26px -404px}
.ico-mod2{background-position:-224px -404px}
.ico-mod3{background-position:-422px -404px}
.ico-trader{background-position:-374px -9px}
.ico-save1{background-position:-416px -6px}
.ico-save2{background-position:-472px -9px}
.ico-save3{background-position:-527px -9px}
.ico-save4{background-position:-416px -68px}
.ico-save5{background-position:-526px -68px}
.ico-mp1{background-position:0 -317px}
.ico-mp2{background-position:-64px -317px}
.ico-mp3{background-position:-128px -317px}
.ico-mp4{background-position:-192px -317px}
.ico-mp5{background-position:-256px -317px}
.ico-mp6{background-position:-320px -317px}
.ico-arrd{background-position:-513px -148px}
.ico-help{background-position:-182px -160px}
.ico-ucphone{background-position:-225px -138px}
.ico-ucuser{background-position:-257px -136px}
.ico-uckey{background-position:-289px -136px}
.ico-ucmail{background-position:-322px -137px}
.ico-ucphoneko{background-position:-225px -168px}
.ico-ucuserko{background-position:-257px -166px}
.ico-uckeyko{background-position:-289px -166px}
.ico-ucmailko{background-position:-322px -167px}
.ico-pssuc{background-position:-412px -316px}
.ico-modarr{background-position:-518px -341px}
.protocol{width:800px;padding:30px 0}
.protocol .prol-firsttit{text-align:center;padding-bottom:20px;font-weight:700}
.protocol .prol-sentit{padding-bottom:10px;font-weight:700}
.protocol p{line-height:24px;color:#555;padding-bottom:10px}
.protocol p.p-ind{text-indent:30px}
.protocol .prol-ind{padding-left:20px}
.boxpeo{height:67px;background-color:#fff}
.list-peo{width:845px;height:67px;overflow:hidden;position:absolute}
.list-peo li{float:left;width:210px;height:67px;border-right:1px solid #e5e5e5;padding-top:6px;overflow:hidden}
.list-peo li p{color:#222;padding-left:16px;padding-top:6px}
.list-peo li p b{font-weight:400;color:#666}
.list-peo li p b i{font-style:normal;color:#d72800;margin:0 5px}
.lpbod,.lptit{padding-left:16px}
.lptit{font-weight:700;color:#222;margin-top:13px}
.lpbod{color:#666;padding-top:3px}
.lpbod b{font-size:16px;color:#d72800;margin:0 3px}
.btnexp{top:10px;right:10px}
.btnexp a{display:block;width:137px;height:48px;line-height:48px;color:#d72800;text-align:center;font-size:18px;font-weight:700;background-color:#d4d4d4}
.btnexp a:hover{text-decoration:none;background-color:#dfdfdf}
.btnexp a:active{background-color:#d4d4d4}
.process{height:120px;background-color:#fff;width:1150px;border:1px solid #ccc;margin-top:15px}
.process .prsfd1{top:16px;left:175px;color:#998561;font-size:16px}
.process .prsfd2{top:16px;left:545px;color:#998561;font-size:16px}
.list-process li{float:right;width:168px;height:133px;line-height:218px;overflow:hidden;text-align:center;position:relative}
.list-process li em{color:#722c09;font-size:16px;font-weight:700}
.list-process li.proon i{color:#d93000}
.list-process li.proon em{color:#d72800}
.list-process li i{position:absolute;top:13px;left:45px;display:block;width:80px;height:80px;line-height:80px;color:#722c09;font-size:32px}
.list-processds li{float:left;width:260px}
.list-processds li.prsjg{width:110px}
.list-processds li i{left:100px}
.list-processds li b{color:#f78065;font-weight:700;font-size:18px}
.process .protit{top:16px;left:0;font-style:normal}
.pressbar{top:50px;right:80px;width:670px;height:6px;overflow:hidden;background-color:#f1dfcc;border-bottom:1px solid #fff}
.prebds{right:120px;width:760px}
.itemsds{height:87px;background-color:#f1f1f1}
.itemsds li{float:left;width:500px}
.itemsds li a{display:block;background-color:#ddd;height:87px;line-height:87px;font-size:36px;text-indent:36px;color:#666}
.itemsds li a span{line-height:20px;font-size:14px;left:260px;text-indent:0}
.itemsds li a span.itmds1{top:23px;font-size:16px}
.itemsds li a span.itmds1 em{color:#d72800;font-weight:700}
.itemsds li a span.itmds2{top:46px}
.itemsds li a:hover{text-decoration:none}
.itemsds li a.hover{background-color:#fff;color:#000}
.itemsds li a i{display:block;width:40px;height:21px;bottom:-21px;left:240px;overflow:hidden;z-index:9999}
.rank{height:150px;background-color:#ff7f07}
.listrank li{float:left;width:248px}
.listrank li p{text-align:center}
.listrank li .rankmy{font-size:42px;color:#fff;padding-top:25px}
.listrank li .rankexp{font-size:20px;color:#813f00;padding-top:16px}
.listrank li .rankmys{font-size:24px;padding-top:35px}
.listrank li .rankexps{padding-top:28px}
.listrank li.rankjg{width:1px;height:130px;border-right:1px solid #ff9634;background-color:#de6300;overflow:hidden;margin-top:20px}
.bsexp{width:630px}
.listbsexp li{border-bottom:1px solid #ddd;padding:26px 0;font-size:22px;text-align:center;color:#d72800}
.listbsexp li i{bottom:-16px;left:300px;color:#888;font-style:normal;font-size:18px}
.listbsexp li .bxsexpx{font-size:16px;padding-top:10px;color:#a08b77}
.paymenoy{border:1px solid #d72800;padding:15px;background-color:#fde8e3}
.paymenoy p{line-height:35px;text-align:center;color:#333}
.paymenoy p em{font-size:22px;color:#d72800;margin:0 6px;vertical-align:middle}
.paymenoy p.pmexp{color:#888}
.paymenoy p.pmexp b{color:#d72800}
.pmbom{text-align:center}
.pmbom input{margin:0 6px;width:100px;height:40px}
.pmfs a{display:block;width:462px;height:100px;border:1px solid #ddd;background-color:#f6f6f6;color:#555}
.pmfs a:hover{text-decoration:none;border:1px solid #d72800}
.pmfs a.pmhover{border:1px solid #d72800;background-color:#fde8e3}
.pmfs a.pmfsl{text-align:center;line-height:100px;font-size:16px}
.pmfs a.pmfsl b{font-size:20px;color:#d72800;margin:0 6px}
.pmfs a.pmfsr{text-align:center}
.pmfs a.pmfsr span{display:block;line-height:26px}
.pmfs a.pmfsr span.pmt{margin-top:20px}
.pmfs a.pmfsr span.pmt b{font-size:20px;color:#d72800;margin:0 6px;vertical-align:middle}
.pmfs a.pmfsr span.pmt em{color:#999}
.pmfs a.pmfsr span.pmb{color:#666}
.pmmenoy{border:1px solid #ddd}
.pmmenoy p{margin-top:60px;text-align:center}
.pmmenoy p.pmpz b{font-size:36px;color:#666}
.pmmenoy p b{font-size:28px;color:#d72800;vertical-align:middle}
.pmmenoy p em{font-style:normal;color:#666;margin-left:6px;font-size:16px}
.colbguide{margin-top:20px}
.cghead{display:inline-block;height:40px;line-height:40px;margin-left:-10px;padding-left:20px;padding-bottom:9px;background:url(../../images/add/help-title.png) no-repeat;color:#fff;font-size:16px;width:213px}
.colbgbody{padding:25px}
.cgtit{display:inline-block;font-size:20px;font-weight:700;color:#333;margin-bottom:16px}
.paragraph{color:#666;line-height:22px;text-indent:30px;padding-bottom:10px}
.cglist{color:#666;line-height:24px}
.cgdown{border:1px solid #f7bebe;background-color:#ffe6e5;height:120px}
.cgdl{top:30px;left:30px}
.cgdl p{font-size:26px;color:#d72800;margin-bottom:15px}
.cgdl em{font-size:16px;color:#666;font-style:normal}
.cgdr{right:30px;top:40px}
.cgdownphone{height:250px;background-color:#f6f6f6}
.cgdp{top:40px;left:30px}
.cgdpr{top:40px;right:30px;left:auto}
.cgdp p{font-size:22px;color:#555;margin-bottom:15px}
.cgdp em{font-size:16px;color:#666;font-style:normal}
.zssty img{float:left;width:180px;height:200px;margin-right:20px;border:5px solid #ddd}
.listhelplink{line-height:32px}
.listhelplink em{margin-right:6px;display:inline-block;color:#fff;background-color:#d72800;border-radius:10px;font-size:12px;width:16px;height:16px;line-height:16px;text-align:center;vertical-align:middle;overflow:hidden}
.listhelplink a{color:#333}
.side{background-color:#f2f2f2;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.sidebar{width:130px;padding-bottom:16px;margin-left:10px}
.listmenu{margin-top:10px;float:left;width:130px}
.menutit{font-size:16px}
.menutit a{color:#d72800;display:block;height:39px;line-height:39px;border:1px solid #f5f5f5;background-color:#ffe9e9;text-indent:10px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.menutit a:hover{text-decoration:none;background-color:#d2d2d2;color:#ee2c00}
.menutit a:active{border:1px solid #fff}
.menutit a i{width:6px;height:9px;overflow:hidden;top:15px;right:11px;display:block}
.menutit a.ushover{text-decoration:none;background-color:#ed5400;color:#fff}
.submenu{margin-left:17px;border-left:2px solid #dedede}
.list-submenu li{height:30px;line-height:30px;position:relative}
.list-submenu li a{font-size:14px;color:#444;text-decoration:none;padding-left:12px}
.list-submenu li a i{display:block;width:10px;height:10px;overflow:hidden;background-color:#dedede;top:10px;left:-6px;z-index:99999;position:absolute}
.list-submenu li a:hover{color:#0071B2;text-decoration:none}
.list-submenu li a:hover i{background-color:#0071B2}
.list-submenu li a.shover{color:#0071B2;text-decoration:none}
.list-submenu li a.shover i{background-color:#0071B2}
.tabhead{border-bottom:1px solid #e5e5e5;height:34px}
.tabhead-center{border-bottom:1px solid #e5e5e5;height:34px}
.tab-items{position:absolute;bottom:-1px;left:0}
.tab-items a{float:left;margin-right:2px;display:inline-block;height:32px;line-height:32px;padding:0 20px;border:none;border:1px solid #e5e5e5;background-color:#f9f9f9;color:#333;font-size:15px;text-decoration:none}
.tab-items a:hover{background-color:#f5f5f5;text-decoration:none}
.tab-items a:active{background-color:#f2f2f2}
.tab-items a.hover{background:#fff;color:#d72800;font-weight:700;border-top-color:#d72800;border-bottom:1px solid #fff}
.tab-body{border:1px solid #e5e5e5;border-top:none;padding:16px}
.tab-bodybig{padding:0 0 5px;border:none}
.tabheadbig{height:60px}
.tab-itemsbig{left:360px}
.tab-itemsbig a{margin-right:-1px;height:58px;line-height:58px;font-size:26px;width:200px;text-align:center}
.wrap-full-center{width:1000px;margin:15px auto}
.expinfo img{vertical-align:middle}
.expinfo span{margin-left:20px;color:#d72800;font-weight:700}
.exptit{font-size:16px;font-weight:700}
.other{border:1px solid #DDD;width:145px;height:50px;line-height:50px;padding-left:15px;cursor:pointer}
.other-bank{position:absolute;background:#FFF;width:160px;height:300px;overflow:auto;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;display:none}
.other-bank span{display:block;padding-left:15px;cursor:pointer;line-height:30px}
.other-bank-hover{text-decoration:none;background:#F4F4F4}
.list-menoy li{padding-bottom:15px;line-height:30px}
.list-menoy li .lm-l{width:120px;text-align:right;color:#555}
.list-menoy li .lm-r{color:#333}
.list-menoy li .lm-r b,.list-menoy li .lm-r i{font-style:normal}
.ucask dl{padding-bottom:30px}
.ukpad300{padding-right:300px}
.ucask dl dt{font-size:16px;font-weight:700;padding-bottom:8px;color:#222}
.ucask dl dd{line-height:26px;color:#555}
.uclist-exp li{padding-bottom:10px;color:#444;line-height:24px}
.grey{color:#666}
.grey dt{font-weight:700;padding-bottom:16px}
.grey dd{padding-bottom:10px}
.ucexp{padding:25px 0;border-top:1px solid #eee;border-bottom:1px solid #eee}
.ucexp dl{width:240px}
.ucexp dl dt{font-size:18px;padding-bottom:10px;color:#333}
.ucexp dl dt span{color:#d72800;font-weight:700}
.ucexp dl dd{color:#666;line-height:20px;font-size:12px}
.comion{width:270px;top:0;right:0}
.comion .comhead{height:36px;line-height:36px;background-color:#d72800;color:#fff;font-size:16px;font-weight:700;text-align:center}
.comion .comf{display:block;width:26px;height:26px;line-height:26px;background-color:#d72800;color:#fff;font-size:16px;font-weight:700}
.listmenoy{padding:30px 0;border-bottom:1px solid #ddd}
.listmenoy li{float:left;display:inline;text-align:center;width:130px}
.listmenoy li.fh{font-size:48px;font-weight:700;line-height:55px;color:#aaa;width:50px}
.listmenoy li.lmwidthbig{width:230px}
.listmenoy li .lm-y{color:#d72800;font-size:18px}
.listmenoy li .lm-y b{font-size:22px;font-weight:400}
.listmenoy li .lm-big{font-size:24px}
.listmenoy li .lm-big b{font-size:28px;font-weight:700}
.listmenoy li .lm-exp{color:#777;padding-top:5px}
.list-picrz li{padding-bottom:15px}
.list-picrz li.picrzpeo{border:1px dashed #ccc;padding:10px}
.list-picrz li.picrzpeo span{margin-right:21px;display:inline-block;width:190px}
.list-picrz li.picrzpeo span img{width:200px;height:126px}
.list-picrz li.picrzpeo span em{display:block;margin-top:10px;text-align:center;color:#333}
.list-picrz li.picrzpeotip{padding-bottom:0;margin:10px 0 0 10px;color:#d8302e}
.exppop{padding:3px 16px;text-align:left}
.popup{top:0;right:10px}
.cont-head{text-align:center;padding:20px 50px 10px;border-bottom:1px solid #eee}
.c-head-tit{font-weight:700;text-align:center;line-height:30px}
.c-head-tip{padding-top:10px;color:#999}
.c-head-tip span{margin:0 10px}
.c-con{color:#333;font-size:14px}
.c-con p{line-height:26px;margin-bottom:15px;text-indent:30px}
.pop-bg{position:fixed;top:0;left:0;background:#000;opacity:.3;width:100%;height:100%;filter:alpha(opacity=30)}
.box-pop{background-color:#fff;border:3px solid #999}
.pop-head{height:36px;background-color:#898989;position:relative}
.pop-head .pop-tit{display:inline-block;line-height:36px;color:#fff;font-size:16px;margin-left:12px}
.pop-body{padding:20px}
.pop-footer{padding:12px 8px;background-color:#eee;text-align:right}
.pop-footer a,.pop-footer input{margin:0 3px}
.ico-exit{width:20px;height:20px;overflow:hidden;position:absolute;top:5px;right:5px;background-position:-375px -48px}
.ico-exit:hover{background-position:-375px -80px}
.colhead{margin-bottom:12px}
.colhead .colheadtit{font-size:24px}
.colhead .chinfo{margin-left:10px;color:#666;font-size:16px}
.colhead .chinfo b{font-style:normal;color:#d72800;margin:0 5px;font-size:18px}
.border1px,.colbody{border:1px dotted #7d8b99}
.posmore{top:10px;right:0}
.colfg{width:1px;background-color:#ddd;overflow:hidden}
.bapp{text-align:center}
.bapp a{margin-top:40px}
.payhead{margin-top:10px}
.phtit{font-size:24px;display:inline-block}
.paytiems{margin-left:16px}
.paytiems a{display:inline-block;height:35px;line-height:35px;padding:0 20px;text-align:center;background-color:#ccc;color:#333}
.paytiems a:hover{text-decoration:none;background-color:#ddd}
.paytiems a.phcuy{background-color:#d72800;color:#fff}
.banksign a{display:block;width:180px;padding:3px 0 10px;border:1px solid #ddd;text-align:center}
.banksign a b{display:block;color:#666;font-size:14px}
.banksign a:hover{text-decoration:none;border:1px solid #d72800}
.listmony li{float:left;display:inline;margin:7px!important}
.listmony li a{display:block;width:110px;height:111px;line-height:60px;background-color:#ffe9e9;text-align:center;overflow:hidden;font-size:26px;color:#d72800;position:relative;border-radius:10px}
.listmony li a em{position:absolute;top:50px;left:23px;font-style:normal;font-size:16px;color:#666;display:block;line-height:24px;text-align:center}
.listmony li a span{position:absolute;top:70px;left:23px;font-style:normal;font-size:16px;color:#666;display:block;line-height:24px;text-align:center}
.listmony li a:hover{text-decoration:none;background-color:#ddd}
.listmony li a.moncuy{background-color:#d72800;color:#fff}
.listmony li a.moncuy_no{cursor:pointer}
.listmony li a.moncuy em{color:#ffc0b1}
.listmony li a.moncuy span{color:#ffc0b1}
.listmony_stock li{float:left;display:inline;margin:10px!important}
.listmony_stock li a{display:block;width:110px;height:111px;line-height:80px;background-color:#f2f2f2;text-align:center;overflow:hidden;font-size:24px;color:#d72800;position:relative}
.listmony_stock li a em{position:absolute;top:60px;left:38px;font-style:normal;font-size:16px;color:#666;display:block;line-height:24px;text-align:center}
.listmony_stock li a:hover{text-decoration:none;background-color:#ddd}
.listmony_stock li a.moncuy{background-color:#d72800;color:#fff}
.listmony_stock li a.moncuy_no{cursor:pointer}
.listmony_stock li a.moncuy em{color:#ffc0b1}
.listmonyb li a{width:110px;height:111px}
.listmonyb li a em{left:35px}
.monygold{border:1px solid #ddd}
.monygold .mgt{font-size:24px;color:#333;padding:10px 0 10px 20px!important;text-align:left}
.monygold .mgt small{font-size:16px;color:#999}
.monygold .mgp{text-align:left; padding-left:20px}
.monygold .mgp em{font-size:24px;font-style:normal;color:#666;margin-left:10px}
.monygold .mgp input{height:50px;line-height:50px; width:400px;text-align:center;font-size:18px}
.listgz{padding-bottom:20px}
.listgz p{padding-top:20px;text-align:center;font-size:16px;color:#333}
.listicol{padding-left:100px}
.listicol li{float:left;display:inline;margin-bottom:30px;color:#666;width:300px;text-align:center}
.listicol li i{display:block;width:64px;height:64px;margin:0 auto;margin-bottom:20px}
.ctrlexp dt{font-size:16px;font-weight:700;color:#333;padding-bottom:10px}
.ctrlexp dd{line-height:28px;color:#666}
.expinp p{line-height:24px;color:#333}
.expinp p em{margin:0 6px;color:#d72800}
.listlink{margin-left:15px}
.listlink li{float:left;display:inline;margin-right:10px}
.listlink li a{display:block;border:1px solid #ddd;padding:3px;background-color:#fff}
.listlink li a:hover{background-color:#ddd}
.listlink li.lkdown{float:right;margin-right:15px}
.bglmar{background:url(../../images/add/bglmar.png) no-repeat 0 0}
.listmexp{width:530px}
.listmexp li{font-size:18px;color:#782f0c;height:50px;padding-top:30px}
.listmexp li span{font-size:14px;color:#f45501;display:block;margin-bottom:5px}
.listmexp li.lmar1{padding-left:80px}
.listmexp li.lmar2{padding-left:120px}
.listmexp li.lmar3{padding-left:160px}
.listmexp li.lmar4{padding-left:205px}
.listmexp li.lmar5{padding-left:255px}
.listmexp li.lmar6{padding-left:300px}
.expanniu{width:561px;height:530px;background:url(../../images/add/exppic1.png) no-repeat 0 0;top:0;right:30px}
.expanniu .expuexp{font-size:16px;color:#333;line-height:28px;padding:60px 0 60px 110px}
.expanniu .expuexp span{color:#d72800}
.expanniu .exputel{font-size:16px;color:#333;line-height:28px;padding:0 0 236px 170px}
.expanniu .exputel span{color:#d72800;font-weight:700;font-size:22px}
.opmenu{width:94px;background:#fff;border:1px solid #d4d4d4;border-radius:2px;z-index:3;left:40px}
.opmenu a{display:block;height:32px;line-height:32px;text-decoration:none;color:#333;border-radius:2px}
.opmenu a:hover{background:#d72800;color:#fff}
.opmenu a:active{background-color:#c92601}
.opmenu a.dis:hover{background:#aaa;color:#fff}
.uccpbtn{text-align:center}
.uccpbtn a{width:100px;margin-top:15px}
.news{background:#fff}
.slogan{color:#333;width:1000px;margin:0 auto}
.news a{color:#000;font-size:16px}
.sll{font-size:14px}
.sll b{color:#d72800;margin:0 6px;font-size:24px;font-weight:700}
.sll em{margin:0 6px;font-style:normal}
.slr{font-size:14px;letter-spacing:1px}
.slr span{font-size:16px;margin-left:12px;color:#555}
.db-p{position:absolute;border:1px solid #ffbb76;background:#fffcef}
.db-p-close{position:absolute;top:2px;right:2px;width:13px;height:13px;background:url(../images/prompt-close.png) no-repeat;cursor:pointer}
.db-p-con{padding:3px 15px 3px 10px;font-size:12px;line-height:18px;color:#db7c22}
.db-p em,.db-p span{display:inline-block;position:absolute;width:0;height:0;font-size:0;overflow:hidden;border-style:dashed;border-color:transparent}
.db-p-0 em{left:50%;top:-6px;margin-left:-5px;border-bottom-style:solid;border-width:0 5px 5px;border-bottom-color:#fb7e00}
.db-p-0 span{left:50%;top:-5px;margin-left:-5px;border-bottom-style:solid;border-width:0 5px 5px;border-bottom-color:#fffcef}
.db-p-1 em{right:20px;top:-6px;border-bottom-style:solid;border-width:0 5px 5px;border-bottom-color:#ffbb76}
.db-p-1 span{right:20px;top:-5px;border-bottom-style:solid;border-width:0 5px 5px;border-bottom-color:#fffcef}
.db-p-2 em{right:-6px;top:50%;margin-top:-5px;border-left-style:solid;border-width:5px 0 5px 5px;border-left-color:#ffbb76}
.db-p-2 span{right:-5px;top:50%;margin-top:-5px;border-left-style:solid;border-width:5px 0 5px 5px;border-left-color:#fffcef}
.db-p-3 em{right:20px;bottom:-6px;border-top-style:solid;border-width:5px 5px 0;border-top-color:#ffbb76}
.db-p-3 span{right:20px;bottom:-5px;border-top-style:solid;border-width:5px 5px 0;border-top-color:#fffcef}
.db-p-4 em{left:50%;bottom:-6px;margin-left:-5px;border-top-style:solid;border-width:5px 5px 0;border-top-color:#ffbb76}
.db-p-4 span{left:50%;bottom:-5px;margin-left:-5px;border-top-style:solid;border-width:5px 5px 0;border-top-color:#fffcef}
.db-p-5 em{left:20px;bottom:-6px;border-top-style:solid;border-width:5px 5px 0;border-top-color:#ffbb76}
.db-p-5 span{left:20px;bottom:-5px;border-top-style:solid;border-width:5px 5px 0;border-top-color:#fffcef}
.db-p-6 em{left:-6px;top:50%;margin-top:-5px;border-right-style:solid;border-width:5px 5px 5px 0;border-right-color:#ffbb76}
.db-p-6 span{left:-5px;top:50%;margin-top:-5px;border-right-style:solid;border-width:5px 5px 5px 0;border-right-color:#fffcef}
.db-p-7 em{left:20px;top:-6px;border-bottom-style:solid;border-width:0 5px 5px;border-bottom-color:#ffbb76}
.db-p-7 span{left:20px;top:-5px;border-bottom-style:solid;border-width:0 5px 5px;border-bottom-color:#fffcef}
.modico{width:286px;height:216px;margin-top:20px;margin-bottom:15px}
.modico i{width:152px;height:178px;display:block;top:30px;left:63px;position:relative}
.modtit{font-size:28px;color:#fc2610;padding-left:20px;margin-top:20px}
.modtit span{color:#ddd;font-size:18px;margin-left:10px}
.modexp{padding-left:20px}
.modexp p{font-size:16px;color:#666;line-height:30px}
.modexp p i{margin-right:6px;display:inline-block;width:12px;height:16px;overflow:hidden}
.modexp p b{color:#fc2610;margin:0 6px}
.modexp em{font-style:normal;margin:0 6px}
.modbom{text-align:center;padding-top:20px}
.modsubtit{font-size:18px;color:#000;padding-left:20px;margin-bottom:10px}
.modctit{display:block;width:152px;height:50px;line-height:42px;font-size:20px;color:#fff;background:url(../../images/add/modctit1.png) no-repeat 0 0;top:12px;left:-1px;text-indent:16px}
.modcpad{padding:66px 20px 12px 20px;overflow:hidden}
.modcpad2{padding:0 20px 12px 20px;overflow:hidden}
.listtrader li{border-bottom:1px dashed #ddd;padding:6px 0}
.listtrader li p{padding-bottom:6px;line-height:24px;font-size:16px;color:#222}
.listtrader li p b{font-style:normal;font-weight:400;font-size:14px;color:#666}
.listtrader li p b i{color:#d72800}
.listtrader li p img{margin-right:6px}
.listinfo li{height:34px;line-height:34px;float:left;width:100%;border-bottom:1px dashed #ddd}
.listinfo li i{width:10px;height:10px;float:left;margin-top:13px}
.listinfo a{text-indent:3px;display:inline-block;color:#666;float:left}
.listinfo span{display:inline-block;color:#aaa;float:right}
.listinfobig li{height:48px;line-height:48px}
.listinfobig li i{margin-top:20px}
.listinfobig a{font-size:16px}
.pmico{margin-right:6px}
span.unlinetxt{text-decoration:underline}
.w1150{margin:0 auto}
.mn-footer .inner-dl{height:155px}
.inner-dl dl.s1{background:url(../../images/add/footer_ico.png) no-repeat scroll 0 6px rgba(0,0,0,0)}
.inner-dl dl{display:inline;float:left;margin-left:30px;width:170px}
.inner-dl dt{color:#666;font-weight:600;line-height:40px;padding-left:35px}
.inner-dl dd{color:#999;font-size:12px;line-height:24px;padding-left:20px}
.inner-dl dd a{color:#999}
a:link,a:visited{text-decoration:none}
.inner-dl dl.s2{background:url(../../images/add/footer_ico.png) no-repeat scroll 0 -130px rgba(0,0,0,0)}
.inner-dl dl.s3{background:url(../../images/add/footer_ico.png) no-repeat scroll -282px -106px rgba(0,0,0,0)}
.inner-dl dl.s4{background:url(../../images/add/footer_ico.png) no-repeat scroll 0 -263px rgba(0,0,0,0)}
.inner-dl dl.s5{background:url(../../images/add/footer_ico.png) no-repeat scroll 0 -395px rgba(0,0,0,0)}
.f-b{border-top:1px solid #d9d9d9;margin:130px auto 0 auto;padding-top:15px;text-align:center;width:1000px}
.f-b p{color:#999;font-size:12px;line-height:22px;margin-bottom:10px}
.micro-blog-w{float:left;height:90px;width:70px;text-align:center;margin-right:5px}
.inner-dl dl.s3{display:inline;float:left;margin-left:30px;width:320px}
.youshi{color:#fff;font-size:18px}
.core-list-channel li a{display:block;padding:10px 0 8px 15px;text-decoration:none}
.core-list-channel p{width:250px;line-height:20px;color:#cc7759;margin-top:5px;font-size:14px}
.core-list-channel .chanfg{background-color:#42302d;border-bottom:1px solid #dedede;font-size:1px;height:1px;line-height:1px;overflow:hidden;padding:0}
#daily_zhinan{width:1000px;height:300px;border:1px solid #dedede;margin:10px auto 0 auto}
.zhinan_1{width:332px;border-right:1px solid #dedede;float:left}
.zhinan_2{width:333px}
.normal_1{width:334px;height:234px;background-image:url(../../images/add/pic_1.jpg);background-repeat:no-repeat}
.hover_1{width:334px;height:234px;cursor:pointer;background-image:url(../../images/add/pic_1_hover.jpg)}
.normal_2{width:334px;height:234px;background-image:url(../../images/add/pic_2.jpg);background-repeat:no-repeat}
.hover_2{width:334px;height:234px;cursor:pointer;background-image:url(../../images/add/pic_2_hover.jpg)}
.normal_3{width:334px;height:234px;background-image:url(../../images/add/pic_3.jpg);background-repeat:no-repeat}
.hover_3{width:334px;height:234px;cursor:pointer;background-image:url(../../images/add/pic_3_hover.jpg)}
.zhinan_title{width:330px;text-align:center;background-color:#fff;font-size:22px;padding-top:21px;padding-bottom:22px}
#fenxi{width:1000px;height:880px;margin-top:25px;background:#fff;color:#666;margin:15px auto}
.fenxi_top_1{width:484px;height:158px;margin-left:15px;border-right:1px solid #dedede;border-bottom:1px solid #dedede;float:left}
.fenxi_top_2{width:484px;height:158px;border-bottom:1px solid #dedede;float:right;margin-right:15px}
.fenxi_top_1_title{text-align:center;padding-top:10px;padding-bottom:10px;font-size:22px}
.fenxi_top_1_content{line-height:28px;font-size:14px;margin:0 8px 0 8px}
.fenxi_bottom{padding:20px}
.fenxi_bottom_title{background-color:#d72800;color:#fff;display:inline-block;font-size:20px;height:60px;line-height:60px;padding:0 30px;margin:25px 0 25px 0}
.fenxi_bottom_contont{padding:0 25px;line-height:35px;text-indent:35px;font-size:14px}
.guize{background-color:#d4d4d4}
#liucheng{background:#fff;width:1000px;margin:15px auto;padding-top:20px}
.liucheng_1{margin:15px}
.liucheng_2{margin:0 20px}
.liucheng_1_title{background-color:#d72800;color:#fff;display:inline-block;font-size:20px;height:40px;line-height:40px;padding:0 26px}
.liucheng_1_content{margin-top:20px;color:#666;line-height:24px}
.liucheng_2_title{font-size:18px;line-height:24px;margin:15px 0}
.liucheng_2_content{color:#666;line-height:24px;padding-bottom:25px}
.daily-ico{background-image:url(../../images/add/icon_daily.png);background-repeat:no-repeat;display:inline-block}
.ico-lrname{background-position:-8px -8px}
.ico-lrtel{background-position:-9px -79px}
.ico-lrqq{background-position:-9px -150px}
.yindao{margin:0 20px}
.yindao_liucheng{margin:5px}
.yindao_liucheng h3{float:left;margin-top:140px;margin-right:100px}
.yindao_liucheng ol{clear:both;list-style:outside none none}
.yindao_liucheng_content_1ist{margin-top:20px}
.yindao_liucheng_content li{marin-top:20px}
.list_icon{color:#fff;font-size:20px;text-align:center;background:#D72800;border-radius:20px;height:33px;width:33px;line-height:33px;float:left;margin-right:30px}
.list_content{height:33px;line-height:33px;font-size:22px}
.list_img{margin:5px 50px}
.list_img img{border:1px solid #DDD}
.pb-help-desc{margin:25px 0 0;padding:0 0 5px}
.pb-help-desc ul{font-size:0;text-align:center}
.pb-help-desc ul li{list-style:outside none none}
.pb-help-desc li.caopan{background:url(../../images/add/caopan.jpg) no-repeat scroll center 0 rgba(0,0,0,0)}
.pb-help-desc .item4 li{width:170px}
.pb-help-desc li{display:inline-block;padding-top:74px;width:138px}
.pb-help-desc li p{color:#666;font-size:14px;padding:0;text-align:center}
.pb-help-desc li.money{background:url(../../images/add/money.jpg) no-repeat scroll center 2px rgba(0,0,0,0)}
.pb-help-desc li.b10{background:url(../../images/add/b10.jpg) no-repeat scroll center 2px rgba(0,0,0,0)}
.pb-help-desc li.time{background:url(../../images/add/time.jpg) no-repeat scroll center 2px rgba(0,0,0,0)}
.red{color:#c00}
.green{color:#52ac4d}
.clearfix::after{clear:both;content:"";display:block;font-size:0;height:0;visibility:hidden}
.colbguide ul{padding-bottom:30px}
.clearfix li{border-right:1px solid #dbdbdb;float:left;padding:0 30px;width:146px}
.clearfix li h3{text-align:center}
.clearfix h3{font-size:18px;font-weight:700}
.made_notice{border:1px solid #ddd;margin-top:25px;overflow:hidden}
.made_notice ul li.notice_title{background:#f5f5f5 url(../images/trader/icon_notice.png) no-repeat scroll 25px 32px;border-right:1px solid #ddd;color:#444;font-size:16px;height:80px;line-height:80px;padding-left:45px;width:95px}
.made_notice ul li{float:left;font-size:14px;line-height:80px;padding-left:30px}
.loan{border:1px solid #ddd;margin-top:20px}
.phtit a{color:#333}
.phtit a:hover{text-decoration:none}
.fz{width:50px;height:50px;border:1px solid #ddd;position:absolute;left:720px;top:520px}
.made-notice{margin-top:15px;border:1px solid #ddd;padding:20px}
.coupon{border:1px solid #ddd;padding:40px}
.my-coupon-wrap{border-bottom:1px solid #ddd;padding-bottom:20px}
.my_coupon_title{font-size:16px;font-weight:700}
.add_coupon{cursor:pointer;float:right;font-size:14px;margin-top:-16px}
.add_coupon a{color:#7687a9}
.add_coupon strong{font-weight:700}
.my-coupon-list{border-bottom:1px solid #f3f3f3;color:#fff;padding:15px 0 15px 30px}
.my-coupon-list .blue{background-image:url(../../images/add/blue.png)}
.my-coupon-list .blue,.my-coupon-list .red,.my-coupon-list .yellow{background-repeat:repeat-x;background-size:auto 130px}
.my-coupon-list li{float:left;height:130px;margin:15px;position:relative;width:250px}
.s-money{font-size:20px;left:20px;top:20px}
.date-range,.num-money,.ref-dict-name,.s-money{position:absolute}
.num-money{font-size:40px;left:20px;margin-left:23px;top:20px}
.ref-dict-name{font-size:14px;line-height:1.5;right:20px;top:20px;width:50px}
.date-range{bottom:0;font-size:14px;left:20px;margin-bottom:20px}
.coupon .use-tips{color:#999;margin:0 auto 20px;padding:20px 0;width:830px}
.coupon .use-tips h3{font-size:14px;font-weight:700;margin-bottom:15px}
.coupon .use-tips p{font-size:14px;margin-bottom:10px}
.my-coupon-wrap{border-bottom:1px solid #ddd;padding-bottom:20px}
.my_coupon_title{font-size:16px;font-weight:700}
.my_coupon_title span{color:#ff7f00;display:inline-block;font-size:14px;font-weight:400;padding-left:10px}
.store-coupon-list{border-bottom:medium none}
.my-coupon-list{border-bottom:1px solid #f3f3f3;color:#fff;padding:15px 0 15px 30px}
.my-coupon-list li.c-des-noheight{height:auto;padding:0}
.my-coupon-list .blue{background-image:url(../../images/add/blue.png)}
.my-coupon-list .redBg{background-image:url(../../images/add/red.png)}
.my-coupon-list .blue,.my-coupon-list .redBg,.my-coupon-list .yellow{background-repeat:repeat-x;background-size:auto 130px}
.my-coupon-list li{float:left;height:130px;margin:15px;position:relative;width:250px}
.my-coupon-list .c-des{height:95px;padding:20px;position:relative}
.my-coupon-list .exchange-btn{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#fff;border-color:-moz-use-text-color #ddd #ddd;border-image:none;border-style:none solid solid;border-width:medium 1px 1px;color:#333;font-size:14px;height:60px;line-height:60px;margin-top:-10px;text-align:center}
.my-coupon-list .exchange-btn i{margin-left:10px}
.my-coupon-list .exchange-btn i,.my-coupon-list .exchange-btn span{font-weight:700}
.my-coupon-list li.c-des-noheight:hover .exchange-btn{color:#ff2626}
.my-coupon-list .exchange-btn:hover{cursor:pointer;text-decoration:underline}
table em{font-style:normal}
ul.chooseUlLi{margin:10px 0 10px 10px!important}
ul.chooseUlLi li{float:left;margin:8px;position:relative;height:100px;width:142px}
ul.chooseUlLi li a{height:100px;width:142px;display:table-cell;vertical-align:middle;border:2px solid #ddd;padding:0;text-align:center;font-size:16px;color:#999;border-radius:5px;position:absolute;top:-15px}
ul.chooseUlLi li a strong{font-size:40px;font-family:Arial;line-height:58px}
ul.chooseUlLi li a p{display:block}
ul.chooseUlLi li a p span{font-size:16px;font-weight:bolder}
ul.chooseUlLi li i{width:33px;height:34px;position:absolute;bottom:0;right:0;display:none;/*background:url(../../images/add/dagou.png) no-repeat*/}
ul.chooseUlLi li a:hover{height:100px;color:#ff6f06;top:-15px;border:2px solid #ff6f06}
ul.chooseUlLi li a:hover p{display:block}
ul.chooseUlLi li a.active{height:100px;color:#ff6f06;top:-15px;border:2px solid #ff6f06}
ul.chooseUlLi li a.active i,ul.chooseUlLi li a.active p{display:block}
ul.chooseUlLi li a .yxi{display:block;font-size:14px}