<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安巨</title>
    <link rel="stylesheet" type="text/css" href="/static/buy/element-ui/lib/theme-chalk/index.css"/>
    <!-- 页面内容CSS -->
    <link rel="stylesheet" type="text/css" href="/static/buy/css/pageCss/forgetPassword.css"/>
    <link rel="Shortcut Icon" type="image/x-icon" href="/static/buy/img/index.png" />
    <script src="/static/buy/js/vue-2.6.10.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/element-ui/lib/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/buy/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            // 用户密码正则,6到16位,(字母,数字,下划线,减号)
            var passWordReg = /^[a-zA-Z0-9_-]{6,16}$/;
            // 手机号正则表达式
            var phoneReg = /^1[3-9]\d{9}$/;
            /* 初始化Vue */
            var vm = new Vue({
               el: ".container",
                data: function () {
                    return {
                        disabled: false,
                        mobile:'',
                        newpassword:'',
                        newpassword2:'',
                        dxyzm:''
                    }
                },
                methods: {
                    /* 失败的弹框 */
                    alertError: function (e) {
                        this.$message.error(e);
                    },
                    /* 成功的弹框 */
                    alertSuccess: function (e) {
                        this.$message({
                            message: e,
                            type: "success"
                        });
                    },


                    click:function(){
                        if(!this.mobile) {return vm.alertError("手机号不能为空");}
                        if (!phoneReg.test(this.mobile)) {
                            return vm.alertError("手机号码格式不规范,请检查后重新输入");}
                        if(!this.dxyzm) {return vm.alertError("短信验证码不能为空");}
                        if (!passWordReg.test(this.newpassword)) {
                            return vm.alertError("密码格式不规范,6到16位,(字母,数字,下划线,减号)");}
                        if(!this.newpassword) {return vm.alertError("请输入新密码");}
                        if(!this.newpassword) {return vm.alertError("确认密码不能为空");}
                        $.ajax({
                            type : 'POST',
                            url : "{:url('buy/login/forget_edit')}",
                            async : true,
                            data : {
                                "mobile":vm.mobile,
                                "dxyzm":vm.dxyzm,
                                "newpassword":vm.newpassword,
                                "newpassword2":vm.newpassword2,
                            },
                            success : function(data){
                                if(data.code==1){
                                    vm.alertSuccess(data.msg);
                                    setTimeout(function(){
                                        return location.href=data.url;
                                    },3000)

                                }else{
                                    return vm.alertError(data.msg);
                                }
                            },
                            error : function(XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status + "," + textStatus);
                            }
                        });
                    },
                }
            });

            var sendBtn = $(".yzm_input_box .el_btn1");

            /* 验证码倒计时 */
            sendBtn.click(function () {
                if(!vm.mobile) {return vm.alertError("手机号不能为空");}
                if (!phoneReg.test(vm.mobile)) {
                    return vm.alertError("手机号码格式不规范,请检查后重新输入");}
                $.ajax({
                    type : 'POST',
                    url : "{:url('buy/way/send_code')}",
                    async : true,
                    data : {
                        "mobile":vm.mobile,
                        "dxyzm":vm.dxyzm
                    },
                    success : function(data){
                        // vm.alertError(data.msg);
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status + "," + textStatus);
                    }
                });
                var num = 60;
                var that = this;
                var timer = setInterval(function () {
                    num--;
                    vm.disabled = true;
                    $(that).html("还剩 " + num + " 秒");
                    if (num <= 0) {
                        clearInterval(timer);
                        $(that).html("重新发送");
                        vm.disabled = false;
                    } else if (num === 59) {
                        vm.alertSuccess("验证码发送成功,若接收失败请耐心等待一分钟后点击重新发送");
                    }
                }, 1000);
            });

        });
    </script>
</head>
<body>
<div class="container">

    <!-- 忘记密码 -->
    <div class="login_box">
        <p class="text_font">忘记密码</p>
        <a href="{:url('login/index')}" class="fanhui_login">返回登陆</a>
        <div class="login_input">
            <!-- 手机号 -->
            <div class="input_box">
                <img class="input_pic" src="/static/buy/img/phone.png" alt=""/>
                <input type="text" placeholder="请输入手机号" maxlength="11" class="user_input"  v-model="mobile">
            </div>
            <!-- 验证码 -->
            <div class="yzm_input_box">
                <img class="yzm_pic" style="height: 26px;" src="/static/buy/img/123.png"/>
                <input type="text"  placeholder="短信验证码" class="yzm_input" maxlength="6"  v-model="dxyzm">
                <el-button class="el_btn1" type="primary" :disabled="disabled">发送验证码</el-button>
            </div>
            <!-- 新密码 -->
            <div class="input_box">
                <img class="input_pic" src="/static/buy/img/password.png" alt=""/>
                <input type="password" placeholder="请输入新密码" class="user_input"  v-model="newpassword">
            </div>
            <!-- 确认密码 -->
            <div class="input_box">
                <img class="input_pic" src="/static/buy/img/password.png" alt=""/>
                <input type="password" placeholder="请确认新密码" class="user_input"  v-model="newpassword2">
            </div>
            <!-- 按钮 -->
            <div class="btn">
                <el-button class="el_btn2" @click="click" type="primary">修改密码</el-button>
            </div>
        </div>
    </div>

</div>
</body>
</html>
