<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新增后台用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/admin_style/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/admin_style/css/public.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1308190_7kttvg3l5i.css" media="all" />

    <link href="/admin_style/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/plugins/summernote/summernote.css" rel="stylesheet">

    <link href="/admin_style/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Template Styles -->
    <link href="/admin_style/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- 提示 -->
    <link rel="stylesheet" href="/admin_style/assets/plugins/jquery-toast/dist/jquery.toast.min.css">
</head>

<body class="childrenBody">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="layui-form">
                    <div class="table-wrap">
                        <div class="table-responsive text-center">
                            <table class="table display product-overview mb-30 table-bordered" id="support_table5">
                                <thead>
                                    <h3>新增后台用户</h3>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>用户名：</td>
                                        <td>
                                            <input type="text" class="name form-control" name="name" value="{$user_data.user_name}" lay-verify="name"
                                                placeholder="用户名"></td>

                                    </tr>
                                    <tr>
                                        <td>姓名：</td>
                                        <td>
                                            <input type="text" class="name2 form-control" name="name2"
                                                lay-verify="name2" value="{$user_data.name}" placeholder="姓名"></td>
                                    </tr>
                                    <tr>
                                        <td>密码：</td>
                                        <td>
                                            <input type="text" class="pwd form-control" name="pwd" lay-verify="pwd"
                                                placeholder="密码">
                                            </td>

                                    </tr>
                                    <tr>
                                        <td>状态：</td>
                                        <td>
                                            <select class="state" name="state" lay-verify="state">
                                                <option value="" >请选择</option>
                                                <option value="1" {if condition="$user_data['state'] eq 1"} selected {/if}>启用</option>
                                                <option value="2" {if condition="$user_data['state'] eq 2"} selected {/if}>禁用</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>选择角色：</td>
                                        <td>
                                            <select class="vip" name="vip" lay-verify="vip">
                                                <option value="" >请选择</option>
                                                {volist name='role_data' id='vo'}
                                                <option
                                                        {if condition="isset($user_data) and $user_data['role_id'] eq $vo['id']"} selected {/if}
                                                        value="{$vo.id}" >{$vo.name}</option>
                                                {/volist}
                                            </select>
                                        </td>
                                    </tr>
                                    <input type="hidden" class="id form-control" name="id"
                                           lay-verify="id" value="{$user_data.id}" >
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-type="reload" lay-filter="reload"
                                    lay-submit> 保 存 </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/admin_style/layui/layui.js"></script>

    <!-- start js include path -->
    <script src="/admin_style/assets/plugins/jquery/jquery.min.js"></script>
    <!-- 提示 -->
    <script src="/admin_style/assets/plugins/jquery-toast/dist/jquery.toast.min.js"></script>
    <script src="/admin_style/assets/plugins/jquery-toast/dist/toast.js"></script>
    <script>
        layui.use(['form', 'layer', 'table', 'laytpl', 'laydate'], function () {
            var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                laytpl = layui.laytpl,
                table = layui.table;
            laydate = layui.laydate;


            //验证数据
            form.verify({
                phone: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (!/^1[3456789]\d{9}$/.test(value)) {
                        return '手机号码有误，请重填';
                    }
                }
                , qq: function (value, item) {
                    if (value.length > 10) {
                        return 'QQ有误，请重填';
                    }
                }
                //我们既支持上述函数式的方式，也支持下述数组的形式
                //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
            });
            //申请时间
            var date2 = laydate.render({
                elem: '#application-Time'
                , type: 'datetime'
                , format: 'yyyyMMdd'

            })
            form.on('select(vip)', function(data){
                console.log(data.elem); //得到select原始DOM对象
                console.log(data.value); //得到被选中的值
                console.log(data.othis); //得到美化后的DOM对象
            });
            //表单提交
            form.on("submit(reload)", function (data) {
                var field = data.field;
                //弹出loading 加载
                var index = top.layer.msg('数据提交中，请稍候', { icon: 16, time: false, shade: 0.8 });
                var name = field.name;  //姓名
                $.post("{:url('system/set_user')}",{field},function (res) {
                    return  top.layer.msg(res.msg,{},function () {
                        parent.location.reload();
                             top.layer.close(index);
                    });
                })
                // setTimeout(function () {
                //     //这里实在是关不掉模态 只能刷新父页面来关闭了
                //     top.layer.close(index);
                //     top.layer.msg("搜索成功！");
                //     layer.closeAll();
                //     //刷新父页面
                    parent.location.reload();
                // }, 500);
                // return false;
            });

        })

    </script>
</body>

</html>
