<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/admin_style/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/admin_style/css/public.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1308190_7kttvg3l5i.css" media="all" />

    <link href="/admin_style/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/plugins/summernote/summernote.css" rel="stylesheet">

    <link href="/admin_style/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Template Styles -->
    <link href="/admin_style/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- 提示 -->
    <link rel="stylesheet" href="/admin_style/assets/plugins/jquery-toast/dist/jquery.toast.min.css">
</head>

<body class="childrenBody">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="layui-form">
                    <div class="table-wrap">
                        <div class="table-responsive text-center">
                            <table class="table display product-overview mb-30 table-bordered" id="support_table5">
                                <thead>
                                    <h3>新增</h3>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>银行：</td>
                                        <td>
                                            <input type="text" class="name form-control" name="name" value="{$user_data.name}" lay-verify="name"
                                                placeholder="银行"></td>

                                    </tr>

                                    <input type="hidden" class="id form-control" name="id"
                                           lay-verify="id" value="{$user_data.id}" >
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-type="reload" lay-filter="reload"
                                    lay-submit> 保 存 </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/admin_style/layui/layui.js"></script>

    <!-- start js include path -->
    <script src="/admin_style/assets/plugins/jquery/jquery.min.js"></script>
    <!-- 提示 -->
    <script src="/admin_style/assets/plugins/jquery-toast/dist/jquery.toast.min.js"></script>
    <script src="/admin_style/assets/plugins/jquery-toast/dist/toast.js"></script>
    <script>
        layui.use(['form', 'layer', 'table', 'laytpl', 'laydate'], function () {
            var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                laytpl = layui.laytpl,
                table = layui.table;
            laydate = layui.laydate;


            //表单提交
            form.on("submit(reload)", function (data) {
                var field = data.field;
                //弹出loading 加载
                var index = top.layer.msg('数据提交中，请稍候', { icon: 16, time: false, shade: 0.8 });
                var name = field.name;  //姓名

                var id = field.id;  //姓名

                alert(id);alert(name);

                $.post("/index.php/admin/system/set_bank",{name:name},function (res) {
                    return  layer.msg(res.msg,{},function () {
                        location.reload();
                    });
                })



                // setTimeout(function () {
                //     //这里实在是关不掉模态 只能刷新父页面来关闭了
                //     top.layer.close(index);
                //     top.layer.msg("搜索成功！");
                //     layer.closeAll();
                //     //刷新父页面
                    parent.location.reload();
                // }, 500);
                // return false;
            });

        })

    </script>
</body>

</html>
