<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>平台返款管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/admin_style/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/admin_style/css/public.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1308190_7kttvg3l5i.css" media="all" />

    <style>
        .wgbz {
            color: red;
        }
    </style>
</head>

<body class="childrenBody">
    <!-- <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>基本演示</legend>
    </fieldset>
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-demo="getChecked">
            获取选中节点数据
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-demo="setChecked">
            勾选指定节点
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-demo="search">
            搜 索
        </button>
    </div> -->
    <form class="layui-form">
        <div class="layui-inline">
            <label>角色名：</label>
            <div class="layui-input-inline">
                <input type="text" name="role" lay-verify="role" class="layui-input role" id="application-role" placeholder="角色名">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <a class="layui-btn search_btn" data-type="reload" lay-filter="reload" lay-submit>
                    <i class="layui-icon">&#xe654;</i> 添 加
                </a>
            </div>
        </div>
    </form>
    <div class="layui-inline">
        <div id="test12" class="demo-tree-more"></div>
    </div>
    <script type="text/javascript" src="/admin_style/layui/layui.js"></script>
    <script type="text/javascript" src="/admin_style/basicParameter.js"></script>
    <script>
        layui.use(["tree", "util", 'form', 'layer', 'table', 'laytpl', 'laydate', 'upload'], function () {
            var tree = layui.tree,
                util = layui.util,
                form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                laytpl = layui.laytpl,
                table = layui.table,
                upload = layui.upload;
            laydate = layui.laydate;
            //模拟数据
            data = {$menu}

            //基本演示
            tree.render({
                elem: "#test12",
                data: data,
                showCheckbox: true, //是否显示复选框
                id: "demoId1",
            });
            //表单提交
            form.on("submit(reload)", function (data) {
                var field = data.field;
                var role = field.role; //状态
                var checkData = tree.getChecked('demoId1');
                if(role=='') {
                    layer.msg("请输入角色名");
                    return;
                }
                if(checkData.length==0) {
                    layer.msg("请输入请选着权限");
                    return;
                }
                //弹出loading 加载
                var index = top.layer.msg('数据提交中，请稍候', { icon: 16, time: false, shade: 0.8 });

                $.post("/index.php/admin/system/addbasicparameter",{name:role,name:role,data:checkData},function (res) {
                    return  layer.msg(res.msg,{},function () {
                        location.reload();
                    });
                })
            });
        });
    </script>
</body>

</html>
