<!-- tabBar -->
<div class="public-tabBar">
    <div class="public-tabBar-item">
        <div class="public-tabBar-item-detail">
            <a href="{:url('my/information')}">基本信息</a>
            <a href="{:url('my/withdrawal')}">实名认证</a>
            <a href="{:url('my/add_buyno')}">买号添加</a>
            <!--
            <a href="{:url('my/vip_recharge')}">会员VIP</a>
            --->
        </div>
        <div class="public-tabBar-item-title add-color">
            <span class="iconfont">&#xe60d;</span>
            <span>账号信息</span>
        </div>
    </div>
    <div class="public-tabBar-item">
        <div class="public-tabBar-item-detail">
            <a href="{:url('task/maketask')}">继续任务</a>
            <a href="{:url('task/index')}">任务大厅</a>
            <a href="{:url('my/taskmanagement')}">任务管理</a>
        </div>
        <div class="public-tabBar-item-title" style="    color: #fff;
    background-color: #ff976a;">
            <span class="iconfont">&#xe77a;</span>
            <span>任务情况</span>
        </div>
    </div>
    <div class="public-tabBar-item">
        <div class="public-tabBar-item-detail">
            <a href="{:url('money/withdrawal')}">提现</a>
            <a href="{:url('money/withsilver')}">充值</a>
            <a href="{:url('money/drawal_record')}">提现记录</a>
        </div>
        <div class="public-tabBar-item-title">
            <span class="iconfont">&#xe601;</span>
            <span>资金管理</span>
        </div>
    </div>
    <div class="public-tabBar-item">
        <div class="public-tabBar-item-detail">
            <a href="{:url('Recommend/index')}">邀请好友</a>
            <a href="{:url('Recommend/record')}">邀请记录</a>
        </div>
        <div class="public-tabBar-item-title">
            <span class="iconfont">&#xe888;</span>
            <span>好友邀请</span>
        </div>
    </div>
</div>
</div>
</body>
</html>
