<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新增后台用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/admin_style/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/admin_style/css/public.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1308190_7kttvg3l5i.css" media="all" />

    <link href="/admin_style/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/plugins/summernote/summernote.css" rel="stylesheet">

    <link href="/admin_style/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Template Styles -->
    <link href="/admin_style/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/admin_style/assets/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- 提示 -->
    <link rel="stylesheet" href="/admin_style/assets/plugins/jquery-toast/dist/jquery.toast.min.css">
</head>
<body class="childrenBody">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="layui-form">
                    <div class="table-wrap">
                        <div class="table-responsive text-center">
                            <table class="table display product-overview mb-30 table-bordered" id="support_table5">
                                <thead>
                                    <h3>提现信息</h3>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>用户名：</td>
                                        <td>
                                            <div class="text-primary text-left yhm">{$list['bank_seller']}</div>
                                            </td>
                                            <td>提现金额：</td>
                                        <td>
                                            <div class="text-left">
                                                <div class="text-danger">申请金额：<span class="sqje">{$list['price']}元</span></div>
                                                <div class="text-warning">手续费：<span class="sxf">{$list['poundage']}元</span></div>
                                                <div class="text-primary">转账：<span class="zz">{$list['toaccount']}元</span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div>提现类型</div><div>账户类型</div></td>
                                        <td>
                                            <div class="text-left text-primary">
                                                <div class="bjtx">{$list['leixing']}提现</div>
                                                <div class="sszh">{$list['user_type']}账户</div>
                                            </div>
                                        </td>
                                        <td>提现账户信息：</td>
                                        <td>
                                            <div class="text-left">
                                                {if $list['pay_type']=='1'}

                                                <div class="text-danger">银行：<span class="yinhang">{$list['bank_name']}</span></div>
                                                <div class="text-warning">银行卡号: <span class="yhkh">{$list['bank_number']}</span></div>
                                                <div class="text-info">姓名: <span class="xm">{$list['bank_seller']}</span></div>
                                                {else}
                                                <div class="text-danger">支付宝：<span class="yinhang">{$list['zfb']}</span></div>
                                                {/if}


                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>备注</td>
                                        <td colspan="1">
                                <textarea class="form-control memo" rows="3" name="memo"
                                          lay-verify="memo"  >{$list['memo']}</textarea></td>
                                        <td>审核状态</td>
                                        <input type="hidden" name="id" lay-verify="id" value="{$list['id']}">
                                        <input type="hidden" name="user_type" lay-verify="user_type" value="{$list['user_type']}">
                                        <td>
                                            <select class="state" name="state"  lay-verify="state" >
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer" style="margin-top: 130px!important;">
                                <button type="button" class="btn btn-primary" data-type="reload" lay-filter="reload"
                                    lay-submit> 保 存 </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/admin_style/layui/layui.js"></script>

    <!-- start js include path -->
    <script src="/admin_style/assets/plugins/jquery/jquery.min.js"></script>
    <!-- 提示 -->
    <script src="/admin_style/assets/plugins/jquery-toast/dist/jquery.toast.min.js"></script>
    <script src="/admin_style/assets/plugins/jquery-toast/dist/toast.js"></script>
    <script>
        layui.use(['form', 'layer', 'table', 'laytpl', 'laydate'], function () {
            var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery,
                laytpl = layui.laytpl,
                table = layui.table;
            laydate = layui.laydate;
            state="{$list['state']}";
            console.log(state)
            var selected1="";
            var selected2="";
            var selected3="";
            var selected4="";
            if(state==0){
                selected1='selected'
            }else if(state==1){
                selected2='selected'
            }else if(state==2){
                selected3='selected'
            }else if(state==3){
                selected4='selected'
            }else {

            }
            var optionStr = '<option value="0" '+selected1+'>待审核</option><option value="1" '+selected2+'>已审核待转账</option><option value="2" '+selected3+'>拒绝</option><option value="3" '+selected4+'>转账成功</option>';
            $('.state').append(optionStr);
            //赋予完成 重新渲染select
            form.render('select');

            //验证数据
            form.verify({
                phone: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (!/^1[3456789]\d{9}$/.test(value)) {
                        return '手机号码有误，请重填';
                    }
                }
                , qq: function (value, item) {
                    if (value.length > 10) {
                        return 'QQ有误，请重填';
                    }
                }
                //我们既支持上述函数式的方式，也支持下述数组的形式
                //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
            });
            //申请时间
            var date2 = laydate.render({
                elem: '#application-Time'
                , type: 'datetime'
                , format: 'yyyyMMdd'

            })
            //表单提交
            form.on("submit(reload)", function (data) {
                var field = data.field;
                var curr=$(".layui-laypage-em").next().html(); //当前页码值
                $.post("/index.php/admin/finance/Cash_to_examine",{data:field},function (res) {
                    if(res.code == 0){
                        layer.msg(res.msg, {icon: 2});
                        parent.layui.layer.closeAll();
                        layer.closeAll("iframe");
                        //刷新父页面
                        //parent.location.reload();
                    }else{
                        layer.msg(res.msg, {icon: 1},function () {
                            var name = $("input[name=name]").val(); //姓名
                            var time = $("input[name=time]").val(); //时间
                            var phone = $("input[name=phone]").val(); //手机号
                            var state = $('#state1 option:selected').val(); //状态
                            var type = $('#type option:selected').val(); //身份
                            var account = $("input[name=account]").val(); //账户
                            var bank_seller = $("input[name=bank_seller]").val(); //开户人
                            var qq = $("input[name=qq]").val(); //QQ号
                            parent.layui.table.reload('userListTable', {
                                method: 'post'
                                , where: {
                                    'name': name, //姓名
                                    'time': time,    //时间
                                    'phone': phone,  //手机号
                                    'state': state, //状态
                                    'type': type, //身份
                                    'account': account, //账户
                                    'bank_seller': bank_seller, //开户人
                                    'qq': qq, //QQ号
                                }
                                , page: {
                                    curr: curr
                                }
                            });
                            setTimeout(function () {
                                parent.layui.layer.closeAll();
                                top.layer.msg("操作成功！");

                            }, 500);
                            return false;
                            //parent.location.reload();
                        });

                    }
                })
            });

        })

    </script>
</body>

</html>
